---
  import './BlueBlock.less';
  import TextBlock from '../textblock/TextBlock.astro';
  import ResultsBlock from '../services/ResultsBlock.astro';
---

<div class="blueblock p-6 md:p-16">
  <slot />
</div>
