---
  import './Budget.less';
  import TextBlock from '../textblock/TextBlock.astro';

  const { budget } = Astro.props;
---

<div class="budget flex flex-col md:flex-row flex-wrap max-w-7xl mx-auto px-4 sm:px-6 gap-6>
  <div class="budget-price">
    <h3>Стоимость</h3>
    <TextBlock block={budget.price || []} />
  </div>
  <div class="budget-time">
    <h3>Сроки</h3>
    <TextBlock block={budget.time || []} />
  </div>
</div>
