---
import { Markdown } from '@astropub/md';
import Image from '~/components/common/Image.astro';
import { findImage } from '~/utils/images';

import './ContentAndImage.less';

const {content, image, imageAlt} = Astro.props;

const img = (await findImage(image));
---

<simple-slider class="flex flex-col max-w-7xl mx-auto px-4 sm:px-6 mb-10 md:mb-20 gap-6 comment-and-image">
  <h2 class="text-5xl group font-heading whitespace-nowrap">Особенности</h2>
  <div class="flex flex-row">
      <div class="w-[730px]">
        <Image src={img} width={730} layout="constrained" alt={imageAlt} />
      </div>
      
      <div class="w-[440px] ml-6 format-subtitle-markdown marked-list comment-and-image-body flex flex-col justify-center">
        <Markdown.Inline of={content} />
      </div>
  </div>
</simple-slider>
