---
  import './Info.less';
  import TextBlock from '../textblock/TextBlock.astro';

  const { info } = Astro.props;
---
<div class="info">
{info.map((info) => <div class="info">
  <a href="{info.link}">
  <img src={info.image} alt={info.alt} />
  <div class="infoText">
    <p>{info.text}</p>
  </div>
  </a>
</div>)}
</div>