.prices {
  .comments {
    columns: 2;

    p {
      break-inside: avoid-column;
    }

    h2 {
      break-inside: avoid-column;
      break-after: avoid-column;
    }

    h3 {
      break-inside: avoid-column;
      break-after: avoid-column;
    }

  }
}