---
  import './Prices.less';
  import TextBlock from '../textblock/TextBlock.astro';

  const { imageMap, comments } = Astro.props;
---
<div class="prices">
  <h2>Ключевые этапы работы над проектом</h2>
  <img src={imageMap.url} alt={imageMap.alt}>
  {
    <TextBlock block={comments} className="comments" />
  }
</div>
