---
  import './ResultsBlock.less';
  import TextBlock from '../textblock/TextBlock.astro';

  const { results, className } = Astro.props;
---
<div class={className || "results"}>
{results.map((result) => <div class="result">
  <img src={result.image} alt={result.alt} />
  <div class="resultText">
    <h3>{result.title}</h3>
    <p>{result.text}</p>
  </div>
</div>)}
</div>
