---
import { getPermalink } from '~/utils/permalinks';
import { getEntry } from 'astro:content';
import Item from './ListItem2.astro';

import UserStory from '~/components/services/UserStory.astro';

import './ServicesCollection2.less';

const { list } = Astro.props;

const items = [];
for (var idx in list) {
  var item = await getEntry('services', list[idx]);
  item.data.index = idx;
  item.data.slugName = list[idx];
  item.data.href = `/services/${list[idx]}`;
  items.push(item.data);
}

---
<services-collection-component>
<services-collection>

<div class="flex flex-col sm:flex-row text-left pb-4 md:pb-6 max-w-7xl px-4 sm:px-6 mx-auto justify-center">
<div class="basis-0 grow">
    <div class="w-72">
      <UserStory />
    </div>
</div>
<ul class="basis-0 grow-[3] flex flex-wrap justify-start list-none gap-1 2xl:gap-3">
  {
    items.map((item) => (
      <li class="mb-12 w-[300px]" id={item.slugName}>
        <Item post={item} />
      </li>
    ))
  }
</ul>
</div>
</services-collection>
</services-collection-component>
