---
import { getPermalink } from '~/utils/permalinks';
import { getEntry } from 'astro:content';
import Item from './ListItem.astro';

import UserStory from '~/components/services/UserStory.astro';

const { list } = Astro.props;

const items = [];
for (var idx in list) {
  var item = await getEntry('services', list[idx]);
  item.data.index = idx;
  item.data.slugName = list[idx];
  item.data.href = `/services/${list[idx]}`;
  items.push(item.data);
}

---
<services-collection>

<style>
  body:has(input#startYes:checked):has(input.final:checked) services-collection li {
    display:none;
  }
  
  body:has(input#startYes:checked):has(input.final:checked) services-collection li#services-filter {
    display:block;
  }

  body:has(input#startYes:checked):has(astro-checkbox > input#haveProductNo:checked):has(astro-checkbox > input#needToCreateIdea:checked) services-collection li#product-team {
    display:block;
  }
  
  body:has(input#startYes:checked):has(astro-checkbox > input#haveProductNo:checked):has(astro-checkbox > input#needToCreateInvestition:checked) services-collection li#prototype {
    display:block;
  }
  
  body:has(input#startYes:checked):has(astro-checkbox > input#haveProductNo:checked):has(astro-checkbox > input#needToCreateDesign:checked) services-collection li#ux-design {
    display:block;
  }
  
  body:has(input#startYes:checked):has(astro-checkbox > input#haveProductYes:checked):has(astro-checkbox > input#needToRedesignUI:checked) services-collection li#ui-redesign {
    display:block;
  }
  
  body:has(input#startYes:checked):has(astro-checkbox > input#haveProductYes:checked):has(astro-checkbox > input#needToRedesignAbsolutely:checked):has(astro-checkbox > input#needFullRedesignYes:checked) services-collection li#ux-design {
    display:block;
  }
  
  body:has(input#startYes:checked):has(astro-checkbox > input#haveProductYes:checked):has(astro-checkbox > input#needToRedesignAbsolutely:checked):has(astro-checkbox > input#needFullRedesignNo:checked) services-collection li#research {
    display:block;
  }
  
  body:has(input#startYes:checked):has(astro-checkbox > input#haveProductYes:checked):has(astro-checkbox > input#needToRedesignYes:checked):has(astro-checkbox > input#needSpotRedesignYes:checked) services-collection li#redesign {
    display:block;
  }
  
  body:has(input#startYes:checked):has(astro-checkbox > input#haveProductYes:checked):has(astro-checkbox > input#needToRedesignYes:checked):has(astro-checkbox > input#needSpotRedesignNo:checked) services-collection li#ux-audit {
    display:block;
  }
  
  body:has(input#startYes:checked):has(astro-checkbox > input#haveProductYes:checked):has(astro-checkbox > input#needToRedesignNew:checked):has(astro-checkbox > input#needNewFeaturesYes:checked) services-collection li#new-features {
    display:block;
  }
  
  body:has(input#startYes:checked):has(astro-checkbox > input#haveProductYes:checked):has(astro-checkbox > input#needToRedesignNew:checked):has(astro-checkbox > input#needNewFeaturesNo:checked) services-collection li#research {
    display:block;
  }
  
  body:has(input#startYes:checked):has(astro-checkbox > input#haveProductYes:checked):has(astro-checkbox > input#needToRedesignDonno:checked):has(astro-checkbox > input#needToResearch1:checked) services-collection li#research {
    display:block;
  }
  
  body:has(input#startYes:checked):has(astro-checkbox > input#haveProductYes:checked):has(astro-checkbox > input#needToRedesignDonno:checked):has(astro-checkbox > input#needToResearch2:checked) services-collection li#research {
    display:block;
  }
  
  body:has(input#startYes:checked):has(astro-checkbox > input#haveProductYes:checked):has(astro-checkbox > input#needToRedesignDonno:checked):has(astro-checkbox > input#needToResearch3:checked) services-collection li#research {
    display:block;
  }
  
  body:has(input#startYes:checked):has(astro-checkbox > input#haveProductYes:checked):has(astro-checkbox > input#needToRedesignDonno:checked):has(astro-checkbox > input#needToResearchNo:checked) services-collection li#ux-audit {
    display:block;
  }
  
  body:has(astro-checkbox > input#needContent:checked) services-collection li#content-design {
    display:block;
  }
  
  body:has(astro-checkbox > input#needDevTeam:checked) services-collection li#dev-team {
    display:block;
  }
  
  body:has(astro-checkbox > input#needResearch:checked) services-collection li#research {
    display:block;
  }
  
</style>

<div class="text-left pb-4 md:pb-6 max-w-7xl px-4 sm:px-6 mx-auto justify-center">
<ul class="flex flex-wrap justify-start list-none">
  <li class="mb-12 md:mb-20 w-[300px]" id="services-filter">
    <div class="w-72">
      <UserStory />
    </div>
  </li>
  {
    items.map((item) => (
      <li class="mb-12 md:mb-20 w-[300px]" id={item.slugName}>
        <Item post={item} />
      </li>
    ))
  }
</ul>
</div>
</services-collection>
