---

import Checkbox from '~/components/common/Checkbox.astro';
import RedCheckbox from '~/components/common/RedCheckbox.astro';
import { Icon } from 'astro-icon/components';

---

<style>
  user-story div#needToCreate, 
  user-story div#needToRedesign
  {
    display: none;
  }
  
  user-story:has(input#haveProductNo:checked) div#needToCreate {
    display: flex;
  }
  
  user-story:has(input#haveProductYes:checked) div#needToRedesign {
    display: flex;
  }
  
  user-story #clearFilters {
    display:none;
  }
  
  user-story:has(input:checked) #clearFilters {
    display:block;
  }

</style>

<user-story>
  <div class="bg-white flex flex-col mt-[-16px]">
    <div class="min-h-[406px] flex flex-col">
      <div id="start">
        <span>
          <RedCheckbox>
            {/* <Icon name="tabler:lifebuoy" height="24px" width="24px" class="mr-2" /> */}
            <span class="grow">Фильтр услуг</span>
            <span class="w-6 h-6 ml-2" id="clearFilters">
              <Icon name="tabler:x" class="w-6 h-6" />
            </span>
          </RedCheckbox>
        </span>
      </div>
      
      <div id="haveProduct" class="flex flex-wrap gap-2 mb-5">
        <h4 class="leading-none mb-2 dark:text-slate-300 font-semibold basis-full shrink-0 text-lg">Есть ли у вас готовый продукт?</h4>
        <Checkbox type="radio" group="level1" id="haveProductYes" label="Да" />
        <Checkbox type="radio" group="level1" id="haveProductNo" label="Нет" />
      </div>
      
      <div id="needToCreate" class="flex flex-wrap gap-2 mb-5">
          <h4 class="leading-none mb-2 dark:text-slate-300 font-semibold basis-full shrink-0 text-lg">На какой вы стадии?</h4>
          <Checkbox type="radio" group="level2" id="needToCreateIdea" label="На стадии идей и планов" className="final"/>
          <Checkbox type="radio" group="level2" id="needToCreateInvestition" label="Нужно впечатлить инвесторов" className="final"/>
          <Checkbox type="radio" group="level2" id="needToCreateMVP" label="Нужно сделать MVP" className="final"/>
          <Checkbox type="radio" group="level2" id="needToCreateDesign" label="Есть MVP, нужен продукт" className="final"/>
      </div>
      
      <div id="needToRedesign" class="flex flex-wrap gap-2 mb-5">
          <h4 class="leading-none mb-2 dark:text-slate-300 font-semibold basis-full shrink-0 text-lg">Нужно переделать интерфейс?</h4>
          <Checkbox type="radio" group="level2" id="needToRedesignAbsolutely" label="Да, полностью" className="final"/>
          <Checkbox type="radio" group="level2" id="needToRedesignYes" label="Да, частично" className="final"/>
          <Checkbox type="radio" group="level2" id="needToRedesignUI" label="Нет, только обновить стиль" className="final"/>
          <Checkbox type="radio" group="level2" id="needToRedesignNew" label="Нет, только добавить кое-что" className="final"/>
          <Checkbox type="radio" group="level2" id="needToRedesignDonno" label="Не знаю, помогите понять" className="final"/>
      </div>
    </div>
  </div>
</user-story> 

<script>
  window.addEventListener("load", (event) => {
    const checkboxes = document.querySelectorAll('astro-checkbox input');
    checkboxes.forEach(checkbox => {
      checkbox.addEventListener("click", (event) => {
        if (event.target.classList.contains('wasChecked')) {
          event.target.checked = false;
          event.target.classList.remove('wasChecked');
        } else {
          document.querySelectorAll('input[name="' + event.target.name + '"].wasChecked').forEach(el => el.classList.remove('wasChecked'));
          event.target.classList.add('wasChecked');
        }
        
        if (event.target.name == 'level1') {
          document.querySelectorAll('input[name="level2"]').forEach(el => {
            el.classList.remove('wasChecked');
            el.checked = false;
          });
        }
        
        console.log(event);
      });
    });
    
    document.getElementById('clearFilters').addEventListener("click", (event) => {
      checkboxes.forEach((checkbox) => {
        checkbox.checked = false;
        checkbox.classList.remove('wasChecked');
      });
    });
  });

</script>
