.works {
  gap: 32px;
  font-weight: 16px;
  line-height: 20px;
  color: #181614;

  .workText {
     padding: 16px;
     border: 1px solid #E0DDDB;
     border-radius: 0 0 16px 16px;
     width: 280px
  }
  
  img {
   width: 280px
  }
}
