---
  import './Works.less';
  import TextBlock from '../textblock/TextBlock.astro';

  const { works } = Astro.props;
---
<div class="works flex flex-row md:flex-column flex-wrap w-full md:w-72">
<h2 class="mb-4">Примеры</h2>
{works.map((work) => <div class="work">
  <a href={work.link}>
    <img src={work.image} alt={work.alt} />
    <div class="workText">
      <p>{work.text}</p>
    </div>
  </a>
</div>)}
</div>
