---
  import './Works.less';
  import TextBlock from '../textblock/TextBlock.astro';

  const { works } = Astro.props;
---
<div class="works">
{works.map((work) => <div class="work">
  <a href={work.link}>
    <img src={work.image} alt={work.alt} />
    <div class="workText">
      <p>{work.text}</p>
    </div>
  </a>
</div>)}
</div>
