---
import { getPermalink } from '~/utils/permalinks';
import { getEntry } from 'astro:content';
import Item from './ListItem.astro';

const { list } = Astro.props;

const items = [];
for (var idx in list) {
  var item = await getEntry('design2dev', list[idx]);
  item.data.index = idx;
  item.data.slugName = list[idx];
  item.data.href = `/design2dev/${list[idx]}`;
  items.push(item.data);
}

---

<design2dev-collection>

<div class="flex flex-col sm:flex-row text-left pb-4 md:pb-6 max-w-7xl mx-auto justify-center">

<ul class="basis-0 grow-[3] flex flex-wrap justify-start list-none gap-1 2xl:gap-3">
  {
    items.map((item) => (
      <li class="mb-12 w-[300px]" id={item.slugName}>
        <Item post={item} />
      </li>
    ))
  }
</ul>
</div>
</design2dev-collection>

