---
import { getPermalink } from '~/utils/permalinks';

import { getTags } from '~/utils/blog';

const { class: className = 'text-sm max-w-3xl', title = undefined } = Astro.props;

const tags = await getTags();

const tagValues = Object.values(tags).sort((a, b) => (b.count - a.count));

---

{
  tags && (
    <>
      <>
        {title !== undefined && <span class="align-super font-normal underline underline-offset-4 decoration-2 dark:text-slate-400">{title}</span>}
      </>
      <ul class={className}>
        {tagValues.map((tag) => (
          <li class="bg-gray-100 dark:bg-slate-700 inline-block mr-2 rtl:mr-0 rtl:ml-2 mb-2 py-0.5 px-2 lowercase font-medium">
            <a
              href={getPermalink(tag.tag.slug, 'tag')}
              class="text-muted dark:text-slate-300 hover:text-primary dark:hover:text-gray-200"
            >
              {tag.tag.title} {' '} <sup>{tag.count}</sup>
            </a>
          </li>
        ))}
      </ul>
    </>
  )
}
