three-column {
  .side-slider-button:hover {
    box-shadow: 
      inset 0 3px 6px rgba(0,0,0,0.25),
      inset 0 -2px 4px rgba(255,255,255,0.15);
   }


  .cell-default {
    color: var(--aw-color-text-default);
    background-color: var(--aw-color-grey9);
  }
  .cell-black {
    color: var(--aw-color-text-default);
    background-color: var(--aw-color-grey9);
  }
  .cell-grey {
    color: var(--aw-color-text-default);
    background-color: var(--aw-color-grey9);
  }
  .cell-red {
    color: var(--aw-color-text-default);
    background-color: var(--aw-color-grey9);
  }
  .cell-orange {
    color: var(--aw-color-text-default);
    background-color: var(--aw-color-grey9);
  }
  .cell-green {
    color: var(--aw-color-text-default);
    background-color: var(--aw-color-grey9);
  }
  .cell-cyan {
    color: var(--aw-color-text-default);
    background-color: var(--aw-color-grey9);
  }
  .cell-blue {
    color: var(--aw-color-text-default);
    background-color: var(--aw-color-grey9);
  }
  .cell-lightblue {
    color: var(--aw-color-text-default);
    background-color: var(--aw-color-grey9);
  }
  .cell-violet {
    color: var(--aw-color-text-default);
    background-color: var(--aw-color-grey9);
  }

  @media (min-width: 1024px) {
    .grid3x3 {
      grid-template-columns: 1fr 1fr 1fr;
    }
    
    .grid3x3-header {
      grid-template-columns: 30px 1fr 1fr 1fr;
    }

    .cell-default {
      color: var(--aw-color-text-default);
      background-color: var(--aw-color-bg-page);
    }
    .cell-black {
      color: white;
      background-color: var(--aw-color-bg-page-dark);
    }
    .cell-grey {
      color: var(--aw-color-text-default);
      background-color: var(--aw-color-grey9);
    }
    .cell-red {
      color: white;
      background-color: var(--aw-color-hund);
      
      &.side-slider-button:hover {
        box-shadow:
          inset 0 3px 6px #5e0011,
          inset 0 -2px 4px #b33a4c;
      }
    }
    .cell-orange {
      color: var(--aw-color-text-default);
      background-color: var(--aw-color-orange);
      &.side-slider-button:hover {
        box-shadow:
          inset 0 3px 6px rgba(0,0,0,0.25),
          inset 0 -2px 4px rgba(255,255,255,0.15);
      }
    }
    .cell-green {
      color: white;
      background-color: var(--aw-color-green);
    }
    .cell-cyan {
      color: white;
      background-color: var(--aw-color-cyan);
      &.side-slider-button:hover {
        box-shadow:
          inset 0 3px 6px #02635d,
          inset 0 -2px 4px #27a9a2;
      }
    }
    .cell-blue {
      color: white;
      background-color: var(--aw-color-accent);
      &.side-slider-button:hover {
        box-shadow:
          inset 0 3px 6px #0f4447,
          inset 0 -2px 4px #2c8b91;
      }
    }
    .cell-lightblue {
      color: var(--aw-color-text-default);
      background-color: var(--aw-color-lightblue);
      &.side-slider-button:hover {
        box-shadow:
          inset 0 3px 6px #02635d,
          inset 0 -2px 4px #27a9a2;
      }
    }
    .cell-violet {
      color: white;
      background-color: var(--aw-color-violet);
      &.side-slider-button:hover {
        box-shadow:
          inset 0 3px 6px #8e4b45,
          inset 0 -2px 4px #d98d86;
      }
    }
  }
}
