---
import Item from '~/components/portfolio/ListItem.astro';
import type { Post } from '~/types';
import { twMerge } from "tailwind-merge";

export interface Props {
  posts: Array<Post>;
}

const { posts, classes } = Astro.props;
---

<div class:list={[
  twMerge("flex flex-wrap", classes),
]}>
  {posts.map((post) => (
    <li class="mb-6 w-[288px]">
      <Item post={post} />
    </li>
  ))}
</div>
