---
import { getPermalink } from '~/utils/permalinks';
import { getEntry } from 'astro:content';

import PortfolioFilter from '~/components/portfolio/filter/PortfolioFilter.astro';
import Item from './ListItem.astro';
import RedCheckbox from '~/components/common/RedCheckbox.astro';

const { list } = Astro.props;

const items = [];
for (var idx in list) {
  var item = await getEntry('portfolio', list[idx]);
  if (!item) console.error(`Cannot find item with name ${list[idx]}`);
  item.data.index = idx;
  item.data.href = `/portfolio/${list[idx]}`;
  items.push(item.data);
}

---
<div class="text-left pb-4 md:pb-6 max-w-5xl mx-auto justify-center">
<PortfolioFilter />
<ul class="portfolio-collection flex lg:grid lg:grid-cols-portfolio lg:grid-flow-row-dense flex-wrap justify-start list-none">
  {
    items.map((item, idx) => (
      <li class:list={["mb-6", (item.doubleSize ? "w-[640px] col-span-2" : "w-80"), item.tags?.map((tag) => ('fltr-'+tag)).join(' ')]} id={'portfolio-card-'+idx}>
        <Item post={item} mode={item.doubleSize ? 'double' : 'single'}/>
      </li>
    ))
  }
</ul>
</div>
