---

import { tagNames } from '~/navigation.js';

const { tags } = Astro.props;

---

<portfolio-tags class="flex flex-row flex-wrap">
  {tags && tags.map(tag => (
    <a class:list={["switch-filter hover:cursor-pointer bg-[--aw-color-grey8] px-2 py-1 mr-1 mb-1 rounded-sm text-sm color-[--aw-color-grey1] hover:text-[--aw-color-hund]", "switch-filter-"+tag]}>{tagNames[tag]}</a>
  ))}
</portfolio-tags>
