---
import merge from 'lodash.merge';

import { getCollection } from 'astro:content';
import Layout from '~/layouts/PageLayout.astro';
import SinglePost from '~/components/blog/SinglePost.astro';
import Bread from '~/components/widgets/Bread.astro';
import RelatedPages from '~/components/portfolio/RelatedPages.astro';
import RelatedLinks from '~/components/portfolio/RelatedLinks.astro';

import { getStaticPathsBlogPost, blogPostRobots } from '~/utils/blog';
import { getCanonical, getPermalink } from '~/utils/permalinks';
import { findImage } from '~/utils/images';

export async function getStaticPaths() {
  const research = await getCollection('research');
  return research.map(entry => ({
    params: { slug: entry.slug }, props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();

const url = getCanonical(getPermalink(entry.permalink, 'research'));
const image = (await findImage(entry.data.image)) as ImageMetadata | string | undefined;

const metadata = merge(
  {
    title: entry.data.title,
    description: entry.data.excerpt,
    robots: {
      index: blogPostRobots?.index,
      follow: blogPostRobots?.follow,
    },
    openGraph: {
      type: 'article',
      ...(image ? { images: [{ url: image, width: (image as ImageMetadata)?.width, height: (image as ImageMetadata)?.height }] } : {}),
    },
  },
  { ...(entry?.metadata ? { ...entry.metadata, canonical: entry.metadata?.canonical || url } : {}) }
) as MetaData;
---

<Layout metadata={metadata}>
  <Bread
    title={entry.title}
    parent="/ux-research"
    parentTitle="UX-исследования"
  />
  <SinglePost post={{ ...entry.data, image: image }} url={url}>
    <Content />
  </SinglePost>
  <div class="max-w-7xl mx-auto px-6 pt-8 md:pt-12 sm:px-6 mb-6">
    <RelatedPages pages={entry.data.relatedPages2} styles={{main: 'flex-col', container: 'flex flex-row flex-wrap justify-between gap-6'}}/>
  </div>
</Layout>
