---

import { Icon } from 'astro-icon/components';
const telegramLink = "https://t.me/sobakapavpro";

---

<div style="background-color: #95001B; color: #FFFFFF" class="flex sm:flex-row justify-normal sm:justify-center text-white">
   <div class="my-[10px] mx-0">
      <a href={telegramLink} class="flex items-top no-underline hover:underline underline-offset-2 text-base gap-1"><Icon height="27px" width="27px" name="tabler:brand-telegram" class="ml-2 mt-1 sm:mt-0" /><div>Читайте наш&nbsp;<span class="underline underline-offset-2">Telegram-канал</span>&nbsp;про ужасы интерфейсных проектов!</div></a>
   </div>
  
</div>
