---
import { Icon } from 'astro-icon/components';
import { SITE } from 'astrowind:config';

const { darkTheme = false } = Astro.props;

const colors = darkTheme ? 'bg-black' : 'bg-[#95001B] text-white';
---

<div class:list={['flex sm:flex-row justify-normal md:justify-center text-white px-4', colors]}>
  <div class="my-2 md:mx-auto">
    <a href={SITE.telegram.link} class="flex items-top no-underline hover:underline underline-offset-2 text-base gap-1"
      ><Icon height={20} width={20} name="tabler:brand-telegram" class="ml-2 mt-1 sm:mt-0.5" /><div>
        Читайте наш&nbsp;<span class="underline underline-offset-2">Telegram-канал</span>&nbsp;про ужасы интерфейсных
        проектов!
      </div></a
    >
  </div>
</div>
