.hero-block.hund-background {
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  background-image: url('/images/main/main2.png');
}



@media (max-width: 1024px) {
  .hero-block.hund-background {
    background-position: bottom left;
    background-size: cover;
  }
}

@media (max-width: 640px) {
  .hero-block.hund-background {
    background-image: url('/images/main/main-mobile.png');
    background-position: bottom;
    background-size: cover;
  }
}
