.hero-block.hund-background {
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;
}

@media (max-width: 640px) {
  .hero-block.hund-background {
    background-image: none !important;
  }
}
