current-projects {
  width: calc(100vw - 88px);
  overflow: hidden;
  background-color: var(--aw-color-grey9);
  display: block;

  carousel-content {
    width: 100%;
    position: relative;
    transition: left 1s ease-in-out;
    display: flex;
  }
  
  .project-slide {
    visibility: hidden;
    overflow: hidden;
    width: 0px;
    padding-left: 2px;
    
    &.first {
      visibility: visible;
      width: 100%;
    }
    
    > h3 {
      color: var(--aw-color-grey9);
    }
  }
  
  .project-image-card {
    transition: all 1s ease-out;
    position: absolute;
    opacity: 0;
    z-index: 1;
    width: 100%;
     
    &.current {
      transition: all 1s ease-in;
      opacity: 1;
      z-index: 2;
    }
  }
}

@media (min-width: 640px) and (max-width: 1023px) {  
  current-projects {
  width: calc(100vw - 128px);
  }
}

@media (min-width: 1024px) {  
  current-projects {
    width: 712px;
  }
}
