---

import TabComponent from '~/components/main/TabComponent.astro';

---
<TabComponent title1="Клиенты" title2="Проекты">
  <Fragment slot="tab1">
    <div class="grid grid-cols-3 sm:grid-cols-5 lg:grid-cols-3 ml-0 gap-y-14 mt-8 lg:mt-0">
       <div class="flex items-start justify-start">
         <a class="noir2-div relative" href="/portfolio/alfa-arm">
           <img src="/images/services/alfa.svg" width="36" height="56">
           <img src="/images/services/alfa4.svg" class="noir2 absolute top-0 left-0 z-100" width="36" height="56">
         </a></div>
        <div class="flex items-start justify-start">
         <a class="noir2-div relative" href="/portfolio/gazprom-neft">
           <img src="/images/services/gazprom.svg" width="36" height="60">
           <img src="/images/services/gazprom4.svg" class="noir2 absolute top-0 left-0 z-100" width="36" height="60">
       </a></div>
       <div class="flex items-start justify-start">
          <a class="noir2-div relative" href="/portfolio/avito">
            <img src="/images/services/avito.svg" width="56" height="56">
            <img src="/images/services/avito4.svg" class="noir2 absolute top-0 left-0 z-100" width="56" height="56">
       </a></div>
       <div class="flex items-start justify-start">
          <a class="noir2-div relative" href="/portfolio/alfastrah-design">
            <img src="/images/services/alfa-strah.svg" width="56" height="56">
            <img src="/images/services/alfa-strah4.svg" class="noir2 absolute top-0 left-0 z-100" width="56" height="56">
       </a></div>
       <div class="flex items-start justify-start">
          <a class="noir2-div relative" href="/portfolio/tinkoff">
            <img src="/images/services/tinkoff.svg" width="56" height="56">
            <img src="/images/services/tinkoff4.svg" class="noir2 absolute top-0 left-0 z-100" width="56" height="56">
       </a></div>
      
       <div class="flex items-start justify-start">
           <a class="noir2-div relative" href="https://www.eduhund.ru/clients">
            <img src="/images/services/yandex.svg" width="38" height="56">
            <img src="/images/services/yandex4.svg" class="noir2 absolute top-0 left-0 z-100" width="38" height="56">
       </a></div>
       <div class="flex items-start justify-start">
          <a class="noir2-div relative" href="/portfolio/sportmaster">
            <img src="/images/services/sportmaster.svg" width="76" height="46">
            <img src="/images/services/sportmaster4.svg" class="noir2 absolute top-0 left-0 z-100" width="76" height="46">
       </a></div>
       <div class="flex items-start justify-start">
          <a class="noir2-div relative" href="/portfolio/yota">
            <img src="/images/services/yota.svg" width="42" height="68">
            <img src="/images/services/yota4.svg" class="noir2 absolute top-0 left-0 z-100" width="42" height="68">
       </a></div>
       <div class="flex items-start justify-start">
            <a class="noir2-div relative" href="/portfolio/sberbank">
              <img src="/images/services/sberbank.svg" width="56" height="56">
              <img src="/images/services/sberbank4.svg" class="noir2 absolute top-0 left-0 z-100" width="56" height="56">
       </a></div>
       
       <div class="flex items-center justify-start">
              <a class="noir2-div relative" href="/portfolio/qiwi">
                 <img src="/images/services/qiwi.svg" width="56" height="56">
                 <img src="/images/services/qiwi4.svg" class="noir2 absolute top-0 left-0 z-100" width="56" height="56">
       </a></div>
       <div class="flex items-center justify-start">
              <a class="noir2-div relative" href="/portfolio/novotelekom">
                <img src="/images/services/ecity.svg" width="40" height="56">
                <img src="/images/services/ecity4.svg" class="noir2 absolute top-0 left-0 z-100" width="42" height="68">
       </a></div>
       
       <div class="flex items-center justify-start">
            <a class="noir2-div relative" href="/portfolio">
               <img src="/images/services/x5.svg" width="56" height="56">
               <img src="/images/services/x54.svg" class="noir2 absolute top-0 left-0 z-100" width="56" height="56">
       </a></div>
       
       <div class="flex items-center justify-start">
             <a class="noir2-div relative" href="/portfolio/yit">
               <img src="/images/services/yit.svg" width="100" height="56">
               <img src="/images/services/yit4.svg" class="noir2 absolute top-0 left-0 z-100" width="100" height="56">
       </a></div>
       
       <div class="flex items-center justify-start">
              <a class="noir2-div relative" href="/portfolio/okey">
                <img src="/images/services/okey.svg" width="50" height="48">
                <img src="/images/services/okey4.svg" class="noir2 absolute top-0 left-0 z-100" width="50" height="48">
       </a></div>
       
       <h2 class="text-xl font-heading tracking-widest leading-none text-[--aw-color-hund]"><a href="/portfolio">+200 компаний<br/>за 13 лет работы</a></h2>
       
    </div>
  </Fragment>
  
  <Fragment slot="tab2">
    <div class="grid grid-cols-3 sm:grid-cols-5 lg:grid-cols-3 ml-0 gap-y-14 mt-8 lg:mt-0">
           <div class="flex items-center justify-start">
              <a class="noir2-div relative" href="/portfolio/itmo">
                <img src="/images/services/itmo.svg" width="150" height="56">
                <img src="/images/services/itmo4.svg" class="noir2 absolute top-0 left-0 z-100" width="150" height="56">
              </a></div> 
           <div class="flex items-start justify-center">
              <a class="noir2-div relative" href="/portfolio/tmh">
                <img src="/images/services/tmh.svg" width="84" height="56">
                <img src="/images/services/tmh4.svg" class="noir2 absolute top-0 left-0 z-100" width="84" height="56">
              </a></div>
           <div class="flex items-center justify-start">
              <a class="noir2-div relative" href="/portfolio/prozhito">
                <img src="/images/services/prozhito.svg" width="160" height="70">
                <img src="/images/services/prozhito4.svg" class="noir2 absolute top-0 left-0 z-100" width="160" height="70">
              </a></div>  
                          
           <div class="flex items-start justify-start">
             <a class="noir2-div relative" href="/portfolio/raisa">
               <img src="/images/services/raisa.svg" width="150" height="51">
               <img src="/images/services/raisa4.svg" class="noir2 absolute top-0 left-0 z-100" width="150" height="51">
             </a></div>
           <div class="flex items-start justify-center">
              <a class="noir2-div relative" href="/portfolio/res">
                <img src="/images/services/res.svg" width="67" height="56">
                <img src="/images/services/res4.svg" class="noir2 absolute top-0 left-0 z-100" width="67" height="56">
              </a></div>    
           <div class="flex items-center justify-start">
              <a class="noir2-div relative" href="/portfolio/tis">
                 <img src="/images/services/tis.svg" width="160" height="50">
                 <img src="/images/services/tis4.svg" class="noir2 absolute top-0 left-0 z-100" width="160" height="50">
              </a></div>
           
           <div class="flex items-center justify-start">
              <a class="noir2-div relative" href="/portfolio/brighteye">
                 <img src="/images/services/brighteye.svg" width="160" height="57">
                 <img src="/images/services/brighteye4.svg" class="noir2 absolute top-0 left-0 z-100" width="160" height="57">
              </a></div>                   
           <div class="flex items-center justify-center">
               <a class="noir2-div relative" href="/portfolio/qiwi">
                  <img src="/images/services/qiwi.svg" width="56" height="56">
                  <img src="/images/services/qiwi4.svg" class="noir2 absolute top-0 left-0 z-100" width="56" height="56">
               </a></div>
           <div class="flex items-center justify-start">
               <a class="noir2-div relative" href="/portfolio/pangeo">
                 <img src="/images/services/pangeo.svg" width="115" height="56">
                 <img src="/images/services/pangeo4.svg" class="noir2 absolute top-0 left-0 z-100" width="115" height="56">
               </a></div>
           <div class="flex items-center justify-start">
               <a class="noir2-div relative" href="/portfolio/elma">
                 <img src="/images/services/elma.svg" width="160" height="58">
                 <img src="/images/services/elma4.svg" class="noir2 absolute top-0 left-0 z-100" width="160" height="58">
               </a></div>
           <div class="flex items-center justify-center">
               <a class="noir2-div relative" href="/portfolio/novotelekom">
                 <img src="/images/services/ecity.svg" width="40" height="56">
                 <img src="/images/services/ecity4.svg" class="noir2 absolute top-0 left-0 z-100" width="42" height="68">
               </a></div>
           <div class="flex items-center justify-start">
               <a class="noir2-div relative" href="/portfolio/fasting">
                 <img src="/images/services/simple.svg" width="150" height="56">
                 <img src="/images/services/simple4.svg" class="noir2 absolute top-0 left-0 z-100" width="150" height="56">
            </a></div>
    
           <h2 class="text-xl font-heading tracking-widest leading-none text-[--aw-color-hund]"><a href="/portfolio">+200 компаний<br/>за 13 лет работы</a></h2>
           
        </div>
  </Fragment>
</TabComponent>
