---

import TabComponent from '~/components/main/TabComponent.astro';

---
<TabComponent title1="Клиенты" title2="Проекты">
  <Fragment slot="tab1">
    <div class="grid grid-cols-3 sm:grid-cols-5 lg:grid-cols-3 ml-0 gap-y-14 mt-8 lg:mt-0">
       <div class="flex items-start justify-start">
         <a class="noir2-div relative" href="https://sobakapav.ru/portfolio#alfa">
           <img src="/images/clients/alfa.svg" width="36" height="56">
           <img src="/images/clients/alfa4.svg" class="noir2 absolute top-0 left-0 z-100 dark:hidden" width="36" height="56">
           <img src="/images/clients/alfa2.svg" class="noir2 absolute top-0 left-0 z-100 hidden dark:inline" width="36" height="56">
         </a></div>
        <div class="flex items-start justify-start">
         <a class="noir2-div relative" href="https://sobakapav.ru/portfolio#gazprom">
           <img src="/images/clients/gazprom.svg" width="36" height="60">
           <img src="/images/clients/gazprom4.svg" class="noir2 absolute top-0 left-0 z-100 dark:hidden" width="36" height="60">
           <img src="/images/clients/gazprom2.svg" class="noir2 absolute top-0 left-0 z-100 hidden dark:inline" width="36" height="60">
       </a></div>
       <div class="flex items-start justify-start">
          <a class="noir2-div relative" href="/portfolio/avito">
            <img src="/images/clients/avito.svg" width="56" height="56">
            <img src="/images/clients/avito4.svg" class="noir2 absolute top-0 left-0 z-100 dark:hidden" width="56" height="56">
            <img src="/images/clients/avito2.svg" class="noir2 absolute top-0 left-0 z-100 hidden dark:inline" width="56" height="56">
       </a></div>
       <div class="flex items-start justify-start">
          <a class="noir2-div relative" href="https://sobakapav.ru/portfolio#alfastrah">
            <img src="/images/clients/alfa-strah.svg" width="56" height="56">
            <img src="/images/clients/alfa-strah4.svg" class="noir2 absolute top-0 left-0 z-100 dark:hidden" width="56" height="56">
            <img src="/images/clients/alfa-strah2.svg" class="noir2 absolute top-0 left-0 z-100 hidden dark:inline" width="56" height="56">
       </a></div>
       <div class="flex items-start justify-start">
          <a class="noir2-div relative" href="/portfolio/tinkoff">
            <img src="/images/clients/tinkoff.svg" width="56" height="56">
            <img src="/images/clients/tinkoff4.svg" class="noir2 absolute top-0 left-0 z-100 dark:hidden" width="56" height="56">
            <img src="/images/clients/tinkoff2.svg" class="noir2 absolute top-0 left-0 z-100 hidden dark:inline" width="56" height="56">
       </a></div>
      
       <div class="flex items-start justify-start">
           <a class="noir2-div relative" href="https://www.eduhund.ru/clients">
            <img src="/images/clients/yandex.svg" width="38" height="56">
            <img src="/images/clients/yandex4.svg" class="noir2 absolute top-0 left-0 z-100 dark:hidden" width="38" height="56">
            <img src="/images/clients/yandex2.svg" class="noir2 absolute top-0 left-0 z-100 hidden dark:inline" width="38" height="56">
       </a></div>
       <div class="flex items-start justify-start">
          <a class="noir2-div relative" href="/portfolio/sportmaster">
            <img src="/images/clients/sportmaster.svg" width="76" height="46">
            <img src="/images/clients/sportmaster4.svg" class="noir2 absolute top-0 left-0 z-100 dark:hidden" width="76" height="46">
            <img src="/images/clients/sportmaster2.svg" class="noir2 absolute top-0 left-0 z-100 hidden dark:inline" width="76" height="46">
       </a></div>
       <div class="flex items-start justify-start">
          <a class="noir2-div relative" href="/portfolio/yota">
            <img src="/images/clients/yota.svg" width="42" height="68">
            <img src="/images/clients/yota4.svg" class="noir2 absolute top-0 left-0 z-100 dark:hidden" width="42" height="68">
            <img src="/images/clients/yota2.svg" class="noir2 absolute top-0 left-0 z-100 hidden dark:inline" width="42" height="68">
       </a></div>
       <div class="flex items-start justify-start">
            <a class="noir2-div relative" href="/portfolio/sberbank">
              <img src="/images/clients/sberbank.svg" width="56" height="56">
              <img src="/images/clients/sberbank4.svg" class="noir2 absolute top-0 left-0 z-100 dark:hidden" width="56" height="56">
              <img src="/images/clients/sberbank2.svg" class="noir2 absolute top-0 left-0 z-100 hidden dark:inline" width="56" height="56">
       </a></div>
       
       <div class="flex items-center justify-start">
              <a class="noir2-div relative" href="/portfolio/qiwi">
                 <img src="/images/clients/qiwi.svg" width="56" height="56">
                 <img src="/images/clients/qiwi4.svg" class="noir2 absolute top-0 left-0 z-100 dark:hidden" width="56" height="56">
                 <img src="/images/clients/qiwi2.svg" class="noir2 absolute top-0 left-0 z-100 hidden dark:inline" width="56" height="56">
       </a></div>
       <div class="flex items-center justify-start">
              <a class="noir2-div relative" href="https://sobakapav.ru/portfolio#ecity">
                <img src="/images/clients/ecity.svg" width="40" height="56">
                <img src="/images/clients/ecity4.svg" class="noir2 absolute top-0 left-0 z-100 dark:hidden" width="42" height="68">
                <img src="/images/clients/ecity2.svg" class="noir2 absolute top-0 left-0 z-100 hidden dark:inline" width="42" height="68">
       </a></div>
       
       <div class="flex items-center justify-start">
            <a class="noir2-div relative" href="/portfolio">
               <img src="/images/clients/x5.svg" width="56" height="56">
               <img src="/images/clients/x54.svg" class="noir2 absolute top-0 left-0 z-100 dark:hidden" width="56" height="56">
               <img src="/images/clients/x52.svg" class="noir2 absolute top-0 left-0 z-100 hidden dark:inline" width="56" height="56">
       </a></div>
       
       <div class="flex items-center justify-start">
             <a class="noir2-div relative" href="/portfolio/yit">
               <img src="/images/clients/yit.svg" width="100" height="56">
               <img src="/images/clients/yit4.svg" class="noir2 absolute top-0 left-0 z-100 dark:hidden" width="100" height="56">
               <img src="/images/clients/yit2.svg" class="noir2 absolute top-0 left-0 z-100 hidden dark:inline" width="100" height="56">
       </a></div>
       
       <div class="flex items-center justify-start">
              <a class="noir2-div relative" href="/portfolio/okey">
                <img src="/images/clients/okey.svg" width="50" height="48">
                <img src="/images/clients/okey4.svg" class="noir2 absolute top-0 left-0 z-100 dark:hidden" width="50" height="48">
                <img src="/images/clients/okey2.svg" class="noir2 absolute top-0 left-0 z-100 hidden dark:inline" width="50" height="48">
       </a></div>
       
       <h2 class="text-xl font-heading tracking-widest leading-none text-[--aw-color-hund]"><a href="/portfolio">+200 компаний<br/>за 13 лет работы</a></h2>
       
    </div>
  </Fragment>
  
  <Fragment slot="tab2">
    <div class="grid grid-cols-3 sm:grid-cols-5 lg:grid-cols-3 ml-0 gap-y-14 mt-8 lg:mt-0">
           <div class="flex items-center justify-start">
              <a class="noir2-div relative" href="/portfolio/pushkin-digital">
                <img src="/images/clients/itmo.svg" width="150" height="56">
                <img src="/images/clients/itmo4.svg" class="noir2 absolute top-0 left-0 z-100 dark:hidden" width="150" height="56">
                <img src="/images/clients/itmo2.svg" class="noir2 absolute top-0 left-0 z-100 hidden dark:inline" width="150" height="56">
              </a></div> 
           <div class="flex items-start justify-center">
              <a class="noir2-div relative" href="/portfolio/tmh">
                <img src="/images/clients/tmh.svg" width="84" height="56">
                <img src="/images/clients/tmh4.svg" class="noir2 absolute top-0 left-0 z-100 dark:hidden" width="84" height="56">
                <img src="/images/clients/tmh2.svg" class="noir2 absolute top-0 left-0 z-100 hidden dark:inline" width="84" height="56">
              </a></div>
           <div class="flex items-center justify-start">
              <a class="noir2-div relative" href="/portfolio/prozhito">
                <img src="/images/clients/prozhito.svg" width="160" height="70">
                <img src="/images/clients/prozhito4.svg" class="noir2 absolute top-0 left-0 z-100 dark:hidden" width="160" height="70">
                <img src="/images/clients/prozhito2.svg" class="noir2 absolute top-0 left-0 z-100 hidden dark:inline" width="160" height="70">
              </a></div>  
                          
          <div class="flex items-center justify-start">
               <a class="noir2-div relative" href="/portfolio/fasting">
                 <img src="/images/clients/simple.svg" width="150" height="56">
                 <img src="/images/clients/simple4.svg" class="noir2 absolute top-0 left-0 z-100 dark:hidden" width="150" height="56">
                 <img src="/images/clients/simple2.svg" class="noir2 absolute top-0 left-0 z-100 hidden dark:inline" width="150" height="56">
            </a></div>
           <div class="flex items-start justify-center">
              <a class="noir2-div relative" href="/portfolio/res">
                <img src="/images/clients/res.svg" width="67" height="56">
                <img src="/images/clients/res4.svg" class="noir2 absolute top-0 left-0 z-100 dark:hidden" width="67" height="56">
                <img src="/images/clients/res2.svg" class="noir2 absolute top-0 left-0 z-100 hidden dark:inline" width="67" height="56">
              </a></div>    
           <div class="flex items-center justify-start">
              <a class="noir2-div relative" href="/portfolio/tis">
                 <img src="/images/clients/tis.svg" width="160" height="50">
                 <img src="/images/clients/tis4.svg" class="noir2 absolute top-0 left-0 z-100 dark:hidden" width="160" height="50">
                 <img src="/images/clients/tis2.svg" class="noir2 absolute top-0 left-0 z-100 hidden dark:inline" width="160" height="50">
              </a></div>
           
           <div class="flex items-center justify-start">
              <a class="noir2-div relative" href="/portfolio/brighteye">
                 <img src="/images/clients/brighteye.svg" width="160" height="57">
                 <img src="/images/clients/brighteye4.svg" class="noir2 absolute top-0 left-0 z-100 dark:hidden" width="160" height="57">
                 <img src="/images/clients/brighteye2.svg" class="noir2 absolute top-0 left-0 z-100 hidden dark:inline" width="160" height="57">
              </a></div>                   
           <div class="flex items-center justify-center">
               <a class="noir2-div relative" href="/portfolio/qiwi">
                  <img src="/images/clients/qiwi.svg" width="56" height="56">
                  <img src="/images/clients/qiwi4.svg" class="noir2 absolute top-0 left-0 z-100 dark:hidden" width="56" height="56">
                  <img src="/images/clients/qiwi2.svg" class="noir2 absolute top-0 left-0 z-100 hidden dark:inline" width="56" height="56">
               </a></div>
           <div class="flex items-center justify-start">
               <a class="noir2-div relative" href="/portfolio/pangeo">
                 <img src="/images/clients/pangeo.svg" width="115" height="56">
                 <img src="/images/clients/pangeo4.svg" class="noir2 absolute top-0 left-0 z-100 dark:hidden" width="115" height="56">
                 <img src="/images/clients/pangeo2.svg" class="noir2 absolute top-0 left-0 z-100 hidden dark:inline" width="115" height="56">
               </a></div>
           <div class="flex items-center justify-start">
               <a class="noir2-div relative" href="/portfolio/elma">
                 <img src="/images/clients/elma.svg" width="160" height="58">
                 <img src="/images/clients/elma4.svg" class="noir2 absolute top-0 left-0 z-100 dark:hidden" width="160" height="58">
                 <img src="/images/clients/elma2.svg" class="noir2 absolute top-0 left-0 z-100 hidden dark:inline" width="160" height="58">
               </a></div>
           <div class="flex items-center justify-center">
               <a class="noir2-div relative" href="https://sobakapav.ru/portfolio#ecity">
                 <img src="/images/clients/ecity.svg" width="40" height="56">
                 <img src="/images/clients/ecity4.svg" class="noir2 absolute top-0 left-0 z-100 dark:hidden" width="42" height="68">
                 <img src="/images/clients/ecity2.svg" class="noir2 absolute top-0 left-0 z-100 hidden dark:inline" width="42" height="68">
               </a></div>
           
    
           <h2 class="text-xl font-heading tracking-widest leading-none text-[--aw-color-hund]"><a href="/portfolio">+200 компаний<br/>за 13 лет работы</a></h2>
           
        </div>
  </Fragment>
</TabComponent>
