---

import TabComponent from '~/components/main/TabComponent.astro';

---
<TabComponent button1="UX-отдел на аутсорсе" button2="Продуктовая команда">
  <Fragment slot="tab1">
    
    <div class="grid grid-cols-3 sm:grid-cols-5 lg:grid-cols-3 ml-0 gap-y-14 mt-10">
       <div class="flex items-start justify-start">
         <a class="noir2-div relative" href="https://sobakapav.ru/portfolio#alfa">
           <img src="/images/clients/alfa.svg" width="36" height="56">
           <img src="/images/clients/alfa4.svg" class="noir2 absolute top-0 left-0 z-100 dark:hidden" width="36" height="56">
           <img src="/images/clients/alfa2.svg" class="noir2 absolute top-0 left-0 z-100 hidden dark:inline" width="36" height="56">
         </a></div>
       
       <div class="flex items-start justify-start">
         <a class="noir2-div relative" href="https://sobakapav.ru/portfolio#gazprom">
           <img src="/images/clients/gazprom.svg" width="36" height="60">
           <img src="/images/clients/gazprom4.svg" class="noir2 absolute top-0 left-0 z-100 dark:hidden" width="36" height="60">
           <img src="/images/clients/gazprom2.svg" class="noir2 absolute top-0 left-0 z-100 hidden dark:inline" width="36" height="60">
       </a></div>
       
       <div class="flex items-center justify-start">
         <a class="noir2-div relative" href="/portfolio/elma">
           <img src="/images/clients/elma.svg" width="160" height="58">
           <img src="/images/clients/elma4.svg" class="noir2 absolute top-0 left-0 z-100 dark:hidden" width="160" height="58">
           <img src="/images/clients/elma2.svg" class="noir2 absolute top-0 left-0 z-100 hidden dark:inline" width="160" height="58">
       </a></div>
       
       <div class="flex items-start justify-start">
          <a class="noir2-div relative" href="https://sobakapav.ru/portfolio#alfastrah">
            <img src="/images/clients/alfa-strah.svg" width="56" height="56">
            <img src="/images/clients/alfa-strah4.svg" class="noir2 absolute top-0 left-0 z-100 dark:hidden" width="56" height="56">
            <img src="/images/clients/alfa-strah2.svg" class="noir2 absolute top-0 left-0 z-100 hidden dark:inline" width="56" height="56">
       </a></div>
       
       <div class="flex items-center justify-start">
          <a class="noir2-div relative" href="https://sobakapav.ru/portfolio#ecity">
            <img src="/images/clients/ecity.svg" width="40" height="56">
            <img src="/images/clients/ecity4.svg" class="noir2 absolute top-0 left-0 z-100 dark:hidden" width="42" height="68">
            <img src="/images/clients/ecity2.svg" class="noir2 absolute top-0 left-0 z-100 hidden dark:inline" width="42" height="68">
       </a></div>
       
       <div class="flex items-center justify-start">
          <a class="noir2-div relative" href="https://sobakapav.ru/portfolio#anggell">
            <img src="/images/clients/anggell.svg" width="132" height="48">
            <img src="/images/clients/anggell4.svg" class="noir2 absolute top-0 left-0 z-100 dark:hidden" width="132" height="48">
            <img src="/images/clients/anggell2.svg" class="noir2 absolute top-0 left-0 z-100 hidden dark:inline" width="132" height="48">
       </a></div>
       
       <div class="flex items-center justify-start">
         <a class="noir2-div relative" href="https://sobakapav.ru/portfolio#control">
           <img src="/images/clients/ds.svg" width="77" height="36">
           <img src="/images/clients/ds4.svg" class="noir2 absolute top-0 left-0 z-100 dark:hidden" width="77" height="36">
           <img src="/images/clients/ds2.svg" class="noir2 absolute top-0 left-0 z-100 hidden dark:inline" width="77" height="36">
       </a></div>
       
       <div class="flex items-center justify-start">
           <a class="noir2-div relative" href="https://sobakapav.ru/portfolio#jeffit">
             <img src="/images/clients/jeffit.svg" width="44" height="50">
             <img src="/images/clients/jeffit4.svg" class="noir2 absolute top-0 left-0 z-100 dark:hidden" width="44" height="50">
             <img src="/images/clients/jeffit2.svg" class="noir2 absolute top-0 left-0 z-100 hidden dark:inline" width="44" height="50">
        </a></div>
       
       <h2 class="text-xl font-heading tracking-widest leading-none text-[--aw-color-hund]"><a href="/portfolio">+200 компаний<br/>за 13 лет работы</a></h2>
       
    </div>
  </Fragment>
  
  <Fragment slot="tab2">
    
    <div class="grid grid-cols-3 sm:grid-cols-5 lg:grid-cols-2 ml-0 gap-y-14  mt-10"> 
                          
          <div class="flex items-center justify-start">
             <a class="noir2-div relative" href="/portfolio/fasting">
               <img src="/images/clients/simple.svg" width="150" height="56">
               <img src="/images/clients/simple4.svg" class="noir2 absolute top-0 left-0 z-100 dark:hidden" width="150" height="56">
               <img src="/images/clients/simple2.svg" class="noir2 absolute top-0 left-0 z-100 hidden dark:inline" width="150" height="56">
          </a></div>
          
          <div class="flex items-center justify-start">
             <a class="noir2-div relative" href="/portfolio/algohelp">
               <img src="/images/clients/algohelp.svg" width="200" height="56">
               <img src="/images/clients/algohelp4.svg" class="noir2 absolute top-0 left-0 z-100 dark:hidden" width="200" height="56">
               <img src="/images/clients/algohelp2.svg" class="noir2 absolute top-0 left-0 z-100 hidden dark:inline" width="200" height="56">
          </a></div>
           
          <div class="flex items-center justify-start">
             <a class="noir2-div relative" href="/portfolio/avicenna">
               <img src="/images/clients/costa.svg" width="150" height="56">
               <img src="/images/clients/costa4.svg" class="noir2 absolute top-0 left-0 z-100 dark:hidden" width="150" height="56">
               <img src="/images/clients/costa2.svg" class="noir2 absolute top-0 left-0 z-100 hidden dark:inline" width="150" height="56">
          </a></div> 
          
          <div class="flex items-center justify-start">
             <a class="noir2-div relative" href="/portfolio/stroynastroy">
               <img src="/images/clients/stroy.svg" width="200" height="56">
               <img src="/images/clients/stroy4.svg" class="noir2 absolute top-0 left-0 z-100 dark:hidden" width="200" height="56">
               <img src="/images/clients/stroy2.svg" class="noir2 absolute top-0 left-0 z-100 hidden dark:inline" width="200" height="56">
          </a></div>
          
          <div class="flex items-center justify-start">
             <a class="noir2-div relative" href="https://sobakapav.ru/portfolio/anggell">
               <img src="/images/clients/anggell.svg" width="132" height="48">
               <img src="/images/clients/anggell4.svg" class="noir2 absolute top-0 left-0 z-100 dark:hidden" width="132" height="48">
               <img src="/images/clients/anggell2.svg" class="noir2 absolute top-0 left-0 z-100 hidden dark:inline" width="132" height="48">
          </a></div> 
          
          <div class="flex items-center justify-start">
             <a class="noir2-div relative" href="https://sobakapav.ru/portfolio/omnitopic">
               <img src="/images/clients/omni.svg" width="200" height="48">
               <img src="/images/clients/omni4.svg" class="noir2 absolute top-0 left-0 z-100 dark:hidden" width="200" height="48">
               <img src="/images/clients/omni2.svg" class="noir2 absolute top-0 left-0 z-100 hidden dark:inline" width="200" height="48">
          </a></div>
    
        </div>
  </Fragment>
</TabComponent>
