---
import Layout from '~/layouts/PageLayout.astro';
import ImageSlider from '~/components/common/ImageSlider.astro'
import CardSlider from '~/components/main/CardSlider.astro';

const metadata = {
  title: 'Дизайн сложных интерфейсов •  Собака Павлова',
  canonical: 'https://sobakapav.ru',
    description: "Дизайн сложных интерфейсов: UX, UI, редизайн, аудиты, исследования, профессиональные и массовые интерфейсы от «Собаки Павловой»", 
    robots: {
      index: true,
      follow: true,
    },
    openGraph: {
      site_name: 'Собака Павлова',
      images: [{
        url: '~/assets/images/main.png',
        width: 1200,
        height: 630
      }],
      type: 'website',
    },
    ignoreTitleTemplate: true,
  };
---

<Layout metadata={metadata}>
  <div class="mx-20">
    <ImageSlider slides={[
      '/images/portfolio/simed/4-1.png', 
      '/images/portfolio/simed/4-2.png', 
      '/images/portfolio/simed/4-3.png', 
      '/images/portfolio/simed/4-4.png', 
      '/images/portfolio/simed/4-5.png', 
      '/images/portfolio/simed/4-6.png',
    ]}/>
  </div>
        
</Layout>
