---
import type { InferGetStaticPropsType, GetStaticPaths } from 'astro';

import { getCollection } from 'astro:content';
import { Markdown } from '@astropub/md';
import { getFormattedDate } from '~/utils/utils';

import Layout from '~/layouts/PageLayout.astro';
import Hund3 from '~/components/widgets/Hund3.astro';
import Bread from '~/components/widgets/Bread.astro';
import MyMarkdown from '~/components/ui/MyMarkdown.astro';

const { page } = Astro.props as Props;

const metadata = {
  title: 'Информация об IT-деятельности',
  canonical: 'https://sobakapav.ru/accreditation',
  description: "Настоящая политика обработки персональных данных составлена в соответствии с требованиями Федерального закона от 27.07.2006. № 152-ФЗ «О персональных данных» ", 
  robots: {
    index: true,
    follow: true,
  },
  openGraph: {
    site_name: 'Собака Павлова',
    images: [{
      url: '~/assets/images/accreditation.png',
      width: 1200,
      height: 630
    }],
    type: 'website',
  },
};

const videoEntries = await getCollection('video');

const videos = videoEntries.map(entry => entry.data).sort((a, b) => b.publishDate - a.publishDate);

---

<Layout metadata={metadata}>
  <Bread title="Информация об IT-деятельности" />
    
  <Hund3
    classes={{
      main: 'pb-10 md:pb-10',
      subtitle: 'mb-0',
    }}
  >
    <Fragment slot="title">
      Информация<br/>об IT-деятельности
    </Fragment>

    <Fragment slot="subtitle">
      Информация размещена в соответствии с требованиями Положения о государственной аккредитации российских организаций, осуществляющих деятельность в области информационных технологий, утверждённого постановлением Правительства РФ от 30.09.2022 № 1729 (в редакции от 28.11.2025), и приказа Минцифры России от 02.06.2025 № 511. Все сведения, размещённые на этой странице, доступны круглосуточно без необходимости регистрации, авторизации или предоставления персональных данных.
       <div class="flex flex-col md:flex-row gap-6 md:gap-[62px] mb-6">
          <div class="text-xl font-heading tracking-widest leading-none bg-[--aw-color-hund] text-white px-5 py-[10px] flex flex-row align-center max-h-11 mt-4 text-default">
            <a href="/images/https://sobakapav.ru/%D0%92%D1%8B%D0%BF%D0%B8%D1%81%D0%BA%D0%B0%20%D0%B8%D0%B7%20%D1%80%D0%B5%D0%B5%D1%81%D1%82%D1%80%D0%B0%20%D0%B0%D0%BA%D0%BA%D1%80%D0%B5%D0%B4%D0%B8%D1%82%D0%BE%D0%B2%D0%B0%D0%BD%D0%BD%D1%8B%D1%85%20%D0%BE%D1%80%D0%B3%D0%B0%D0%BD%D0%B8%D0%B7%D0%B0%D1%86%D0%B8%D0%B8%CC%86%20%D0%B2%20%D0%BE%D0%B1%D0%BB%D0%B0%D1%81%D1%82%D0%B8%20IT.pdf">Скачать выписку из реестра аккредитованных организаций</a>
          </div> 
        </div>
     
    </Fragment>
  </Hund3>
      
  <section class="flex flex-col lg:flex-row px-6 sm:px-6 pb-12 sm:pb-16 lg:pb-20 mx-auto max-w-7xl">
    <div class="max-w-5xl format-markdown format-portfolio prose prose-md lg:prose-xl dark:prose-invert dark:prose-headings:text-slate-300 prose-headings:font-heading prose-headings:leading-tighter prose-img:rounded-md prose-img:shadow-lg prose-headings:scroll-mt-[80px] prose-li:my-0">
      <MyMarkdown>
## Раздел 1. Реквизиты организации

Полное наименование: Общество с ограниченной ответственностью «Собака Павлова»/
Сокращенное наименование: ООО «Собака Павлова»/
Юридический адрес: 194017, г. Санкт-Петербург, вн.тер.г. муниципальный округ Светлановское, ул. Дрезденская, д. 20, литера А, кв. 49/
Местонахождение: 194017, г. Санкт-Петербург, вн.тер.г. муниципальный округ Светлановское, ул. Дрезденская, д. 20, литера А, кв. 49
 
ИНН: 7802793117/
КПП: 780201001/
ОГРН: 1127847335263

Тел.: +7 (921) 654-26-80/
E-mail: we@sobakapav.ru

## Раздел 2. Государственная аккредитация

ООО «Собака Павлова» включено в реестр аккредитованных организаций, осуществляющих деятельность в области информационных технологий, который ведётся Министерством цифрового развития, связи и массовых коммуникаций Российской Федерации.

Номер записи в реестре: 10264.

Дата внесения в реестр: 05.06.2019.

Проверить статус аккредитации организации можно на портале Госуслуг:

https://www.gosuslugi.ru/itorgs

## Раздел 3. Виды деятельности

Основной код ОКВЭД:
- 62.09 — Деятельность, связанная с использованием вычислительной техники и информационных технологий, прочая.

Дополнительные коды ОКВЭД:
- 63.11 — Деятельность по обработке данных, предоставлению услуг по размещению информации и связанная с этим деятельность.
- 85.42.9 — Деятельность по дополнительному профессиональному образованию прочая, не включённая в другие группировки.

Виды деятельности в соответствии с приказом Минцифры России от 11.05.2023 № 449:
- Код 1.01 — проектирование, обследование, разработка, адаптация, модификация, модернизация, обновление, интеграция, настройка, внедрение, сопровождение, тестирование, техническая поддержка и иные виды деятельности в отношении программ для ЭВМ, баз данных и пользовательских интерфейсов, а также оказание связанных с указанными видами деятельности консультационных, образовательных и экспертных услуг.

## Раздел 4. Описание услуг
Компания оказывает услуги в области проектирования пользовательского опыта и интерфейсов цифровых продуктов, а также предоставляет доступ к собственным образовательным материалам.

Основные направления деятельности:
- проектирование пользовательских интерфейсов для программного обеспечения, информационных систем, веб-сайтов и иных цифровых продуктов;
- проведение исследований пользовательского опыта (UX-исследований), анализ пользовательских сценариев и оценка удобства использования цифровых продуктов;
- подготовка требований к программному обеспечению, разработка технических заданий и проектной документации;
- консультационные услуги в области проектирования интерфейсов и пользовательского опыта;
- предоставление права использования образовательных материалов по тематике проектирования интерфейсов и цифровых продуктов на основании лицензионных соглашений.

Образовательные материалы включают учебные и методические материалы, практические задания, базы данных, аудиовизуальные материалы и иные компоненты, предназначенные для обучения проектированию пользовательских интерфейсов и разработке цифровых продуктов.

## Раздел 5. Технологии и инструменты
В своей деятельности компания использует следующие технологии и программные инструменты:
- Figma;
- Adobe Illustrator;
- HTML;
- CSS;
- GitHub;
- Large Language Models (LLM) и инструменты на основе технологий искусственного интеллекта;
- Miro;
- Notion. 

## Раздел 6. Стоимость услуг
Стоимость услуг определяется индивидуально в зависимости от состава работ, объёма проекта, требований заказчика и иных условий оказания услуг.

Стоимость предоставления права использования образовательных материалов определяется условиями соответствующего лицензионного соглашения.

Актуальная информация о стоимости услуг и лицензий предоставляется по запросу.
   

      </MyMarkdown>
    </div>
  </section>
</Layout>
