---
import Layout from '~/layouts/PageLayout.astro';
import Hund3 from '~/components/widgets/Hund3.astro';
import Features4 from '~/components/widgets/Features4.astro';
import Bread from '~/components/widgets/Bread.astro';

const metadata = {
  title: 'Передача макетов в разработку • Собаки Павловой',
  canonical: 'https://sobakapav.ru/design2dev',
  description: "Девять ключевых практик, которые упрощают разработчикам жизнь и экономят заказчикам деньги.", 
  robots: {
    index: true,
    follow: true,
  },
  openGraph: {
    site_name: 'Собака Павлова',
    images: [{
      url: '~/assets/images/design2dev.png',
      width: 1200,
      height: 630
    }],
    type: 'website',
  },
};

---

<Layout metadata={metadata}>

  <Bread title="Портфолио" />
  
  <Hund3
    classes={{
      main: 'pb-10 md:pb-10',
      subtitle: 'mb-0',
    }}
  >
    <Fragment slot="title">
      Передача макетов в разработку
    </Fragment>

    <Fragment slot="subtitle">
      Разработка — следующий после дизайна этап реализации проекта. И чем качественнее была выполнена работа на этапе дизайна, тем быстрее и дешевле разработка. Если придерживаться определенных принципов работы на этапе проектирования, то вопрос качества решается сам собой в процессе.
      
      Мы придерживаемся девяти ключевых практик, которые упрощают разработчикам жизнь и экономят заказчикам деньги.  
    </Fragment>
  </Hund3>
   
  <section class="px-6 sm:px-6 pb-12 sm:pb-16 lg:pb-20 mx-auto max-w-7xl">
  
  <Features4
    title="9 практик по передаче макетов"
    columns={ 3 }
    items={[
      {
        title: 'Обсуждение с заказчиком требований к макету',
        description:
          'Лучше выяснить все заранее, чем потом экстренно все исправлять',
        icon: 'tabler:artboard',
        link: '/design2dev/discussion',
      },
      {
        title: 'Визуализация пользовательского пути',
        description: 'Чтобы ничего не упустить в процессе дизайна и разработки',
        icon: 'tabler:picture-in-picture',
      },
      {
        title: 'Cоблюдение последовательности в макетах',
        description:
          'Проще работать, когда все разложено по порядку',
        icon: 'tabler:adjustments-horizontal',
      },
      {
        title: 'Именование всех элементов интерфейса',
        description: 'Success screen, а не Frame100500',
        icon: 'tabler:rocket',
      },
      {
        title: 'Понимание базовых принципов верстки',
        description:
          'Думай как верстальщик, действуй как верстальщик, стань верстальщиком',
        icon: 'tabler:arrows-right-left',
      },
      {
        title: 'Соблюдение гигиенты рабочего пространства',
        description: 'Чистота в макетах - залог душевного здоровья дизайнера и разработчика',
        icon: 'tabler:plug-connected',
      },
      {
        title: 'Прототипирование',
        description: 'Самый надежный спосо избежать ошибок и недопонимания процесов при разработке',
        icon: 'tabler:plug-connected',
      },
      {
        title: 'Организация библиотеки компонентов',
        description: 'Тишина и порядок должен быть в библиотеке',
        icon: 'tabler:plug-connected',
      },
      {
        title: 'Соблюдение консистентности',
        description: 'Не дизайн-системой единой',
        icon: 'tabler:plug-connected',
      },
    ]}
    classes={}
    defaultIcon="tabler:circle-check-filled"
  />
  
  <Features4
    title="Кому полезно?"
    columns={ 3 }
    items={[
      {
        title: 'Менеджерам',
        description:
          'Четкие объяснения с иллюстрациями «что такое хорошо, и что такое плохо» помогают контролировать дизайнеров и не позволяют всплывать лишним часам на проекте',
        icon: 'tabler:number-1',
      },
      {
        title: 'Дизайнерам',
        description:
          'Лежащий в основе этих практик наш собственный опыт хождения по граблям позволяет дизайнерам учиться на чужих ошибках',
        icon: 'tabler:number-2',
      },
      {
        title: 'Разработчикам',
        description:
          'Соблюдение этих принципов ведет к сокращению времени разработки и, как следствие, финансовых затрат',
        icon: 'tabler:number-3',
      },
    ]}
    classes={}
    defaultIcon="tabler:circle-check-filled"
  />
  
  </section>

  

  

  
