---
import Layout from '~/layouts/PageLayout.astro';

import Hero2 from '~/components/widgets/Hero2.astro';
import Hund2 from '~/components/widgets/Hund2.astro';
import Hund3 from '~/components/widgets/Hund3.astro';
import Hund4 from '~/components/widgets/Hund4.astro';
import Bread from '~/components/widgets/Bread.astro';
import Image from '~/components/common/Image.astro';
import IndustryColumnGrid from '~/components/industry/IndustryColumnGrid.astro';

import TabComponent from '~/components/main/TabComponent.astro';
import LogoTabComponent2 from '~/components/main/LogoTabComponent2.astro';
import RelatedPages from '~/components/portfolio/RelatedPages.astro';
import RelatedLinks from '~/components/services/RelatedLinks.astro';
import HighlightedCases from "~/components/services/HighlightedCases.astro";
import Number from '~/components/portfolio/Number.astro';
import ReviewItem from '~/components/portfolio/ReviewItem.astro';
import UniversalSlider from '~/components/common/UniversalSlider.astro'
import Features3 from '~/components/widgets/Features3.astro';
import FeaturesHex from '~/components/widgets/FeaturesHex.astro';
import SimpleSlider from '~/components/services/SimpleSlider.astro';
import SimpleContentSlider from '~/components/services/SimpleContentSlider.astro';

import { Icon } from 'astro-icon/components';
import { SITE } from 'astrowind:config';

import { getPermalink } from '~/utils/permalinks';
import { getEntry } from 'astro:content';

import '~/components/main/Bento.less';

const metadata = {
  canonical: 'https://sobakapav.ru/design-code',
  title: `Собака Павлова • Дизайн сразу в коде`,
  description:
    'Как перестать бояться и полюбить LLM',
  robots: {
    index: true,
    follow: true,
  },
  openGraph: {
    site_name: 'Собака Павлова',
    images: [
      {
        url: '~/assets/images/codedesign.png',
        width: 716,
        height: 600,
      },
    ],
    type: 'article',
  },
};
---

<Layout metadata={metadata}  hasSlider={true}>
  <Bread title="Дизайн сразу в коде" />
  
  <Hero2
      image={{ 
        src: '~/assets/images/design-code.png',
        alt: 'Собака Павлова • Дизайн сразу в коде',
      }}
      imageName='Дизайнеры рассматривают новый инструмент'
      >
    <Fragment slot="title">
      </br>Дизайн</br>сразу в коде
    </Fragment>
    <Fragment slot="subtitle">
      Суровое погружение в AI-дизайн сразу в коде.</br>
      Дадим инструмент — рабочий инструмент дизайнера (а хоть бы и менеджера, а хоть бы и аналитика) — с опцией тренажёра. Объясним-научим всяким AI-практикам.
      
    </Fragment>
    <Fragment slot="result">
      <div class="flex flex-row gap-6">
        <div class="text-xl leading-none px-6 py-6 bg-[--aw-color-hund] text-white  flex flex-row align-center mt-2 text-default">
          <a href="https://pay.eduhund.com/codedesign">Сразу купить за 6000 рублей</a>
        </div>
      </div>
    </Fragment>
  </Hero2>
  
  <section class="py-0 mx-auto grow-0 shrink-0">
     <article>
     
  <div class="flex flex-col sm:flex-row gap-10 max-w-7xl mx-auto px-4 sm:px-6 mb-10 md:mb-10 mt-10 md:mt-20">
     <div class="flex flex-col md:flex-row gap-10 md:gap-12 content-start items-start"> 
        <div class="basis-0 grow"> 
          <p class="text-xl mb-4">Дадим возможность применить их — инструмент и практики — не только к учебным, но и к реальным вашим рабочим задачам.</p>
          
           <p class="text-xl mb-4">Учитесь хоть прямо на рабочем месте. Внедряйте AI в свои рабочие процессы.</p>
                          
          <p class="text-xl">Без отрыва от производства:)</p>
        </div>
        <div class="basis-0 grow bg-[#F0F0F0] p-10"> 
        
          <h2 class="text-xl font-heading tracking-widest leading-none text-[--aw-color-hund] mb-4">Дисклеймер. </h2>
          
          <p class="text-xl mb-4">Не страшно, если ваша работа — под NDA.</p>
          
          <p class="text-xl"> Инструмент поможем настроить. Сами никогда ваши рабочие задачи не увидим. Безопасность не пострадает.</p>
        
        </div> 
      </div> 
    </div>
  
  <div class="flex flex-col max-w-7xl mx-auto px-4 sm:px-6 mb-10 md:mb-0">
      <h2 class="text-xl font-heading tracking-widest leading-none text-[--aw-color-hund] mb-6">Как понять, что это для вас?</h2>
      <Features3
        columns={4}
        items={[
        {description: 'Вы понимаете, что надо браться за AI-технологии, но как-то всё руки не доходят.'},
        {description: 'Ваша работа связана с интерфейсами.'},
        {description: 'Дизайнер ли вы, менеджер или аналитик — неважно, всех ждем.'},
        {description: 'Программистам будет скучновато, а начинающим — сложно.'},
        ]}
        classes={{description: 'text-xl', title: ''}}
        defaultIcon="tabler:circle-check-filled"
      />   
    </div>
  
  <div class="flex flex-col sm:flex-row gap-10 max-w-7xl mx-auto px-4 sm:px-6 mb-10 md:mb-10">
    
    <div class="flex flex-col md:flex-row gap-10 md:gap-12 content-start items-start"> 
      <div class="basis-0 grow"> 
        <Image src="~/assets/images/chameleon.png" alt="Собака Павлова • Дизайн сразу в коде" />
         <p class="max-w-3xl mx-auto md:mx-0 lg:mx-auto mt-6 text-base md:text-sm text-muted dark:text-slate-400 text-justify">
            Это хамелеон. Он маскот «Дизайна сразу в коде»
         </p>
      </div>
      <div class="basis-0 grow-[2]"> 
        <p class="text-xl mb-4">Не «прокачиваем», не «вводим в IT», не готовим к работе. Сразу работаем.</p>
        
        <p class="text-xl mb-10">Первая тема для проработки — «UI сразу в коде».</p>
        
        <h2 class="text-xl font-heading tracking-widest leading-none text-[--aw-color-hund] mb-4">UI сразу в коде</h2>
        
        <p class="text-xl mb-4">Что это будет?</p>
        
        <p class="text-xl mb-4">Будет много задач вида «Возьми Figma-компонент — реализуй его в коде».</p>
        
        <p class="text-xl mb-4">Плюс AI-инструмент для их решения. Плюс все, что нужно, чтоб учиться было не больно и не страшно. Поддержка, теория, даже живое общение (по желанию).</p>
      
        <p class="text-xl">Все тексты пишем сами, все задания составляют живые люди, никаких LLM. Некоторые вещи пока просто нельзя поручать машинам.</p>
      </div> 
    </div> 
  </div>
    
  <div class="flex flex-col max-w-7xl mx-auto px-4 sm:px-6 mb-10 md:mb-10">
    <h2 class="text-xl font-heading tracking-widest leading-none text-[--aw-color-hund] mb-6">Вот что можем обещать</h2>
    <IndustryColumnGrid
      columns={3}
      cards={[{title: 'Теория — каждый день', text: 'Понемногу, но каждый. В основном про инструменты, дизайнеру непривычные (Github, фреймворки, всякое такое). Просто чтоб не бояться их и для общей эрудиции.', cardColor: 'blue'},
      {title: 'Созвоны — каждую неделю', text: 'Живые созвоны и обсуждения, у кого что болит. С сотрудниками «Собаки». Может, даже с Ольгой Павловой, если дело пойдёт бодро.', cardColor: 'lightblue'},
      {title: 'Задачи — регулярно', text: 'Решайте в своем темпе. На сложные темы будут дополнительные задачи. Если хотя бы два человека назвали тему сложной — мы пишем под неё набор задач.', cardColor: 'blue'},
      {title: 'Поддержка', text: 'Технический саппорт для тех, кто грустит от слов «поднять локальный сервер» и «смержить ветки».', cardColor: 'lightblue'},
      {title: 'Дополнительная практика', text: 'Для тех, кто хочет разобраться руками.', cardColor: 'blue'},
      {title: 'AI-трансформатор', text: 'С одной стороны, средство решения задач. С другой — сам по себе задача. Цель: освоить связанные с ним практики.', cardColor: 'lightblue'},
      ]}
      classes={{description: 'text-xl', title: ''}}
      defaultIcon="tabler:circle-check-filled"
    /> 
  </div>
  
  <div class="flex flex-col sm:flex-row gap-10 max-w-7xl mx-auto px-4 sm:px-6 mb-10 md:mb-10">
      
      <div class="basis-[2] grow gap-6 max-w-5xl">  
        <p class="text-xl mb-4">Может, ещё что-то добавим, а пока вот так.</p>
        
        <p class="text-xl mb-4">Что-то будем менять на лету. Что-то дорабатывать на ходу.</p>
        
        <p class="text-xl">Именно поэтому внимания и поддержки вам достанется очень много.</p>
      </div>  
      <div class="basis-0 grow min-w-[260px]">
        
      </div>
    </div>
    
  <div class="flex flex-col max-w-7xl mx-auto px-4 sm:px-6 mb-10 md:mb-10">
    <h2 class="text-xl font-heading tracking-widest leading-none text-[--aw-color-hund] mb-6">А вот что обещать не можем</h2>
    <IndustryColumnGrid
      columns={3}
      cards={[
      {title: 'Мол, всё готово и идеально', text: 'Все сырое. Полностью доработанный курс и стоить будет совсем иначе.', cardColor: 'black'},
      {title: 'Мол, берём всех', text: 'Слишком большую группу пока не потянем.', cardColor: 'grey'},
      {title: 'Мол, в июне будет дороже', text: 'В июне вообще может уже не быть.', cardColor: 'black'},
      ]}
      classes={{description: 'text-xl', title: ''}}
      defaultIcon="tabler:circle-check-filled"
    />   
  </div>
  
  <div class="gap-8 max-w-7xl mx-auto px-4 sm:px-6 mb-10 md:mb-10">
    <p class="text-xl mb-4">Что в итоге, если совсем коротко?</p>
          
    <p class="text-xl mb-4 font-bold">Умение поставлять UI-компоненты сразу в коде.</p>
          
    <p class="text-xl mb-6">Стать программистом за месяц — не предлагаем. Невозможно это. Предлагаем вот что:</p>
    
    <div class="">
    <IndustryColumnGrid
        columns={3}
        cards={[{title: 'Перестать бояться LLM', cardColor: 'red'}, {title: 'Перестать бояться, что LLM отнимет вашу работу', cardColor: 'red'}, {title: 'Научиться делать код из UI-картинок', cardColor: 'green'}]}
      classes={{description: 'text-xl', title: 'text-4xl'}}
      defaultIcon="tabler:circle-check-filled"
    /> 
    </div>
    
  </div>
  
  <div class=" flex flex-col gap-10 max-w-7xl mx-auto px-4 sm:px-6 mb-10 md:mb-12">
    
    <div class="flex flex-col sm:flex-row justify-between gap-10 max-w-5xl">
      <div class="">
        <h3 class="mb-2 text-xl">Цена удовольствия для людей:</h3>
        <Number 
          number="6 тысяч рублей" 
          classes="mb-1.5 font-heading" 
          textClasses="text-xl sm:text-4xl" 
          numberClasses="text-xl sm:text-4xl text-[--aw-color-hund]" 
        />
        <p class="text-xl">За май-июнь (30 дней).</p>
      </div>
      <div class="basis-0 grow">
        <h3 class="mb-2 text-xl">Для компаний по безналу:</h3>
        <Number 
          number="56 тысяч рублей" 
          classes="mb-1.5 font-heading" 
          textClasses="text-xl sm:text-4xl" 
          numberClasses="text-xl sm:text-4xl text-[--aw-color-hund]" 
        />
        <p class="text-xl">Без скидок.</p>
      </div>
    </div>
  </div>

  
  <div class="max-w-7xl mx-auto px-4 sm:px-6">
  <div class="bg-[#212121] p-5 md:p-10 mt-2 mb:mt-8 mb-5 md:mb-10">
    <p class="text-xl mb-4 text-white">Начало 13 мая. Конец 12 июня.</p> 
    <p class="text-xl mb-4 text-white">Если не понравится — вернём деньги.</p>
    <div class="flex flex-row gap-6">
      <div class="text-xl leading-none px-6 py-6 bg-[--aw-color-hund] text-white  flex flex-row align-center mt-4 text-default">
              <a href="https://pay.eduhund.com/codedesign">Купить за 6000 рублей</a>
            </div>
      
    </div>
    <p class="text-xl text-white mt-6">P.S. К вайбкодингу — никакого отношения.</p>
    
  </div>
  
</article>
</section>

</Layout>
