---
import Layout from '~/layouts/PageLayout.astro';
import Hund3 from '~/components/widgets/Hund3.astro';
import Features4 from '~/components/widgets/Features4.astro';
import Bread from '~/components/widgets/Bread.astro';
import Design2DevCollection from '~/components/design2dev/Design2DevCollection.astro';

const metadata = {
  title: 'Передача макетов в разработку • Собака Павлова',
  canonical: 'https://sobakapav.ru/design2dev',
  description: "Девять ключевых практик, которые упрощают разработчикам жизнь и экономят заказчикам деньги.", 
  robots: {
    index: true,
    follow: true,
  },
  openGraph: {
    site_name: 'Собака Павлова',
    images: [{
      url: '~/assets/images/design2dev.png',
      width: 1200,
      height: 630
    }],
    type: 'website',
  },
};

---

<Layout metadata={metadata}>

  <Bread title="Вакансии" />
  
  <Hund3
    classes={{
      main: 'pb-10 md:pb-10',
      subtitle: 'mb-0',
    }}
  >
    <Fragment slot="title">
      Передача макетов в разработку
    </Fragment>

    <Fragment slot="subtitle">
      Разработка — следующий после дизайна этап реализации проекта. И чем качественнее была выполнена работа на этапе дизайна, тем быстрее и дешевле разработка. Если придерживаться определенных принципов работы на этапе проектирования, то вопрос качества решается сам собой в процессе.
      
      Мы придерживаемся девяти ключевых практик, которые упрощают разработчикам жизнь и экономят заказчикам деньги.  
    </Fragment>
  </Hund3>
   
  <section class="px-6 sm:px-6 pb-12 sm:pb-16 lg:pb-20 mx-auto max-w-7xl">
  
  <Design2DevCollection
      list={[
        'discussion',
        'user-flow',
        'consistency',
        'naming',
        'front-end',
        'hygiene',
        'interactivity',
        'library',
        'inconsistency',
      ]}
    />
  
  <Features4
    title="Кому полезно?"
    columns={ 3 }
    items={[
      {
        title: 'Менеджерам',
        description:
          'Четкие объяснения с иллюстрациями «что такое хорошо, и что такое плохо» помогают контролировать дизайнеров и не позволяют всплывать лишним часам на проекте',
        icon: 'tabler:number-1',
      },
      {
        title: 'Дизайнерам',
        description:
          'Лежащий в основе этих практик наш собственный опыт хождения по граблям позволяет дизайнерам учиться на чужих ошибках',
        icon: 'tabler:number-2',
      },
      {
        title: 'Разработчикам',
        description:
          'Соблюдение этих принципов ведет к сокращению времени разработки и, как следствие, финансовых затрат',
        icon: 'tabler:number-3',
      },
    ]}
    classes={}
    defaultIcon="tabler:circle-check-filled"
  />
  
  </section>

  

  
