---
import type { InferGetStaticPropsType, GetStaticPaths } from 'astro';

import Layout from '~/layouts/PageLayout.astro';
import Hund3 from '~/components/widgets/Hund3.astro';
import Headline from '~/components/blog/Headline.astro';
import Bread from '~/components/widgets/Bread.astro';
import PersonList from '~/components/person/PersonList.astro';
import Number from '~/components/portfolio/Number.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Features4 from '~/components/widgets/Features4.astro';
import Features5 from '~/components/widgets/Features5.astro';

import { SITE } from 'astrowind:config';
import { Icon } from 'astro-icon/components';

const { page } = Astro.props as Props;

const metadata = {
  title: 'Кейсы по дизайну интерфейсов • Портфолио «Собаки Павловой»',
  canonical: 'https://sobakapav.ru/graduate',
  description: "Дизайн сложных интерфейсов: UX, UI, редизайн, аудиты, исследования, профессиональные и массовые интерфейсы от «Собаки Павловой»", 
  robots: {
    index: true,
    follow: true,
  },
  openGraph: {
    site_name: 'Собака Павлова',
    images: [{
      url: '~/assets/images/portfolio.png',
      width: 1200,
      height: 630
    }],
    type: 'website',
  },
};

---
<Layout metadata={metadata}>
  <Bread title="Прокачиваем специалистов" />
    
  <Hund3
    classes={{
      main: 'pb-10 md:pb-10',
      subtitle: 'mb-0',
    }}
  >
    <Fragment slot="title">
      Прокачиваем специалистов
    </Fragment>

    <Fragment slot="subtitle">
      Превращаем крепких середнячков в специалистов экстра-класса.<br/>
      С 2012 года выпустили в мир корпораций и международных IT-компаний более 100 дизайнеров, менеджеров и других профессионалов. Прокачаем и вас.   
    </Fragment>
  </Hund3>
      
  <section class="px-6 sm:px-6 pb-12 sm:pb-16 lg:pb-20 mx-auto max-w-7xl">
    
    <div class="flex flex-col sm:flex-row justify-between gap-6 mb-12">
      <div class="basis-0 grow">
        <Number 
          number=">30 дизайнеров" 
          classes="mb-1.5 font-heading" 
          textClasses="text-xl sm:text-4xl" 
          numberClasses="text-xl sm:text-4xl text-[--aw-color-hund]" 
        />
        <p class="mb-1 text-xl">выросли в крепких middle под присмотром менторов на сложных проектах.</p>
      </div>
      
      <div class="basis-0 grow">
        <Number 
          number="12 менеджеров" 
          classes="mb-1.5 font-heading" 
          textClasses="text-xl sm:text-4xl" 
          numberClasses="text-xl sm:text-4xl text-[--aw-color-hund]" 
        />
        <p class="mb-1 text-xl">трансформировали свой управленческий опыт под требования IT. Теперь работают продактами.</p>
      </div>
      
      <div class="basis-0 grow">
        <Number 
          number="8 узких специалистов" 
          classes="mb-1.5 font-heading" 
          textClasses="text-xl sm:text-4xl" 
          numberClasses="text-xl sm:text-4xl text-[--aw-color-hund]" 
        />
        <p class="mb-1 text-xl">среди которых были senior designers, product managers и UX-writers, стали T-shaped профессионалами.</p>
      </div>
      <div class="basis-0 grow">
        <Number 
          number="5 социологов" 
          classes="mb-1.5 font-heading" 
          textClasses="text-xl sm:text-4xl" 
          numberClasses="text-xl sm:text-4xl text-[--aw-color-hund]" 
        />
        <p class="mb-1 text-xl">от науки и без IT-бэкграунда стали UX-аналитиками.</p>
      </div>
    </div>
    
    <PersonList graduates={['euro', 'ahnaf', 'polina', 'anton-i', 'julia-gruzdeva', 'sophia-d', 'anna-semenova', 'xenia-v', 'olga-kuznetsova', 'ivan-rozhin', 'alexandra-saveleva','xenia-p', 'ekaterina-gordeeva', 'ilya-avramenko', 'olga-tabachishina', 'lubov-kaidas', 'antonina-hisametdinova', 'tatiana-kolupaeva', 'anton-romashko', 'vera-osolodkina', 'eugeny-gavrilov', 'andrey-tokach', 'andrey-egorov', 'vladislav-yakimov', 'mihail-podkopaev', 'alexey-zinovyev', 'ivan-popov', 'zahar', 'konstantin-osnos', 'galina-osipova', 'olga-samarina', 'ilya-bovkunov', 'andre-remati', 'ekaterina-yulina', 'arkadi-elizarov', 'ludmila-timonina', 'anastasia-i', 'zaur', 'ilya-belnik',]} />
    
    {/* <Features5
      title="Почему наши ученики так успешны"
      columns={ 4 }
      items={[
        {
          title: 'Крупные проекты',
          description: 'Работаем над серьезными дизайн-задачами больших компаний из разных отраслей.',
        },
        {
          title: 'Методология',
          description: 'Пользуемся собственной методологией, основанной на принципах дизайн-мышления.',
        },
        {
          title: 'Менторство и опыт',
          description: 'Передаем тринадцатилетнюю экспертизу каждому сотруднику и сопровождаем каждый проект.',
        }
      ]}
      classes={}
      defaultIcon="tabler:circle-check-filled"
    />*/} 
    
    <div class="flex flex-col md:flex-row md:flex-wrap justify-between max-w-7xl mx-auto md:mx-auto">
      <div class="format-markdown max-w-4xl pt-8 md:pt-8">
        <h2 class="text-5xl group font-heading mb-6">Интересно? Пишите!</h2>   
        <p>В сопроводительном письме среди прочего укажите, пожалуйста, ссылки на свои профили в соцсетях.</p>
        <p class="text-xl font-heading tracking-widest leading-none dark:text-[--aw-color-pink] text-[--aw-color-hund]">И портфолио, обязательно портфолио.</p>
        <p>Пишите на почту <a href={`mailto:${SITE.email}`}>{SITE.email}</a> с темой письма «Отклик на вакансию ___».</p>
        <p>Читают руководители. Не обещаем моментальную реакцию. Если мы не отвечаем больше трех дней, напишите, пожалуйста, повторно.</p>
      </div>
    </div>
  </section>
</Layout>
