---
import type { InferGetStaticPropsType, GetStaticPaths } from 'astro';

import Layout from '~/layouts/PageLayout.astro';
import Hund3 from '~/components/widgets/Hund3.astro';
import Headline from '~/components/blog/Headline.astro';
import Bread from '~/components/widgets/Bread.astro';
import PersonList from '~/components/person/PersonList.astro';

const { page } = Astro.props as Props;

const metadata = {
  title: 'Кейсы по дизайну интерфейсов • Портфолио «Собаки Павловой»',
  canonical: 'https://sobakapav.ru/graduate',
  description: "Дизайн сложных интерфейсов: UX, UI, редизайн, аудиты, исследования, профессиональные и массовые интерфейсы от «Собаки Павловой»", 
  robots: {
    index: true,
    follow: true,
  },
  openGraph: {
    site_name: 'Собака Павлова',
    images: [{
      url: '~/assets/images/portfolio.png',
      width: 1200,
      height: 630
    }],
    type: 'website',
  },
};

---

<Layout metadata={metadata}>
  <Bread title="Прокачиваем специалистов" />
    
  <Hund3
    classes={{
      main: 'pb-10 md:pb-10',
      subtitle: 'mb-0',
    }}
  >
    <Fragment slot="title">
      Прокачиваем специалистов
    </Fragment>

    <Fragment slot="subtitle">
      Превращаем крепких середнячков в специалистов экстра-класса.<br/>
      С 2012 года выпустили в мир корпораций и международных IT-компаний более 100 дизайнеров, менеджеров и других профессионалов. Прокачаем и вас.   
    </Fragment>
  </Hund3>
      
  <section class="px-6 sm:px-6 pb-12 sm:pb-16 lg:pb-20 mx-auto max-w-7xl">
    <PersonList graduates={['ahnaf', 'alexandra-saveleva', 'anastasia-i']} />
  </section>
</Layout>
