---
import Layout from '~/layouts/Layout.astro';

import { getCollection } from 'astro:content';

const metadata = {
  title: 'Список услуг',
};

const filteredOut = ['consultation', 'dev-team'];

const services = await getCollection('services');

const servicesItems = services.filter(item => !filteredOut.includes(item.slug)).map(item => {
  var itemImage = item.data.thumbnail;
  if (itemImage) {
    itemImage = itemImage.substring('~/assets/images/services/'.length);
  }
  
  return {
    name: item.slug,
    title: item.data.title,
    services: item.data.folder.name,
    image: itemImage ? `https://sobakapav.ru/images/services/${itemImage}` : ''
  }
});

---

<Layout metadata={metadata}>
  <p>
    {JSON.stringify(servicesItems)}
  </p>
       
</Layout>
