---
import type { InferGetStaticPropsType, GetStaticPaths } from 'astro';
import { getPermalink } from '~/utils/permalinks';

import { getCollection  } from 'astro:content';

const { page } = Astro.props as Props;

const entries = await getCollection('portfolio');

---

<html>
<head>
		<meta charset="utf-8" />
</head>
<body>
{ entries.map(entry => (
  <a href={getPermalink(`portfolioRaw/${entry.slug}`)}> {getPermalink(`portfolioRaw/${entry.slug}`)} </a>
  <br />
))}
https://sobakapav.ru/portfolio/anggell
https://sobakapav.ru/portfolio/alfastrah-design
https://sobakapav.ru/portfolio/data-solution
https://sobakapav.ru/portfolio/e-gorod-mobile
https://sobakapav.ru/portfolio/medmarket
https://sobakapav.ru/portfolio/neurobureau
https://sobakapav.ru/portfolio/ohlebe
https://sobakapav.ru/portfolio/okey
https://sobakapav.ru/portfolio/ot-vinta
https://sobakapav.ru/portfolio/pangeo
https://sobakapav.ru/portfolio/qiwi
https://sobakapav.ru/portfolio/raisa
https://sobakapav.ru/portfolio/res
https://sobakapav.ru/portfolio/smartdeal
https://sobakapav.ru/portfolio/tis
</body>
</html>
