---
import type { InferGetStaticPropsType, GetStaticPaths } from 'astro';

import Layout from '~/layouts/PageLayout.astro';
import Hund3 from '~/components/widgets/Hund3.astro';
import PortfolioCollection from '~/components/portfolio/PortfolioCollection2.astro';
import Headline from '~/components/blog/Headline.astro';
import { getEntry } from 'astro:content';
import Bread from '~/components/widgets/Bread.astro';

const { page } = Astro.props as Props;

const metadata = {
  title: 'Кейсы по дизайну интерфейсов • Портфолио «Собаки Павловой»',
  canonical: 'https://sobakapav.ru/portfolio',
  description: "Дизайн сложных интерфейсов: UX, UI, редизайн, аудиты, исследования, профессиональные и массовые интерфейсы от «Собаки Павловой»", 
  robots: {
    index: true,
    follow: true,
  },
  openGraph: {
    site_name: 'Собака Павлова',
    images: [{
      url: '~/assets/images/portfolio.png',
      width: 1200,
      height: 630
    }],
    type: 'website',
  },
};

---

<Layout metadata={metadata}>
  <Bread title="Портфолио" />
    
  <Hund3
    classes={{
      main: 'pb-10 md:pb-10',
      subtitle: 'mb-0',
    }}
  >
    <Fragment slot="title">
      Кейсы по дизайну интерфейсов
    </Fragment>

    <Fragment slot="subtitle">
      Дизайн сложных интерфейсов: UX, UI, редизайн, аудиты, исследования, профессиональные и массовые интерфейсы от «Собаки Павловой».</br>
      Подробные описания проектов, демонстрация итогов и промежуточных результатов, цены и отзывы клиентов. Читайте, пожалуйста ↓↓↓   
    </Fragment>
  </Hund3>
      
  <section class="px-6 sm:px-6 pb-12 sm:pb-16 lg:pb-20 mx-auto max-w-7xl">

   {/* <PortfolioCollection list={['foodtrucks', 'russpass', 'tmh', 'prozhito', 'dipol', 'control-patent','e-gorod-mobile', 'alfastrah-design', 'itmo', 'onkor', 'avicenna', 'zapovednik', 'compel', 'qiwi', 'control-predpisanie', 'stroynastroy',  'domotech', 'pangeo', 'ot-vinta', 'anggell', 'medmarket',  'data-solution', 'res', 'tis', 'brighteye', 'ohlebe', 'neurobureau', 'raisa', 'monetory', 'math', 'm-line', 'elma', 'alfa-arm', 'easydocs', 'kapital', 'dau', 'algohelp', 'gazprom-neft', 'avito', 'okey', 'boracase', 'e-gorod-guide', 'novotelekom', 'petrovich', 'video-santa', 'fasting', 'control-mobile', 'control', 'gormost', 'trash', 'veza', 'fishlook', 'cindicator', 'documedd', 'miaz', 'alfastrahhr', 'edms', 'stream-telecom', 'sindbad', 'e-gorod', 'atol', 'smartdeal', 'geonaft', 'costa', 'nlmk', 'sberbank', 'electronika', 'crt-panel-administratora', 'center-rechevyh-technologiy', 'faberlic', 'amber', 'serverscom', 'vuborgskiy-zamok', 'tigitl', 'solar-staff', 'otvet', 'inbank', 'littleone', 'ethr', 'relief-center', 'alfa', 'tinkoff', 'sportmaster', 'relefopt', 'autotransinfo', 'tiomed', 'f-kabinki', 'fastvps', 'korochka', 'korochka-kontent', 'zhivoj-office', 'bercut', 'kids-crooked-house', 'basis', 'yit', 'lantapro', 'zehnder', 'zombieland', 'pmr', 'zateya', 'viking-line', 'alfabank', 'jazzpay', 'checknpay', 'cybermall', 'likehack', 'snob', 'flarm', 'alarm-motors']} />*/}
  
    <PortfolioCollection list={['foodtrucks', 'russpass', 'prozhito', 'tmh', 'dipol', 'control-patent','e-gorod-mobile']} />   
  </section>
</Layout>
