---
import type { InferGetStaticPropsType, GetStaticPaths } from 'astro';

import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import PortfolioCollection from '~/components/portfolio/PortfolioCollection.astro';
import Headline from '~/components/blog/Headline.astro';
import { getEntry } from 'astro:content';

const { page } = Astro.props as Props;

const metadata = {
  title: 'Портфолио',
};

---

<Layout metadata={metadata}>
  <section class="px-6 sm:px-6 py-12 sm:py-16 lg:py-20 mx-auto max-w-6xl">
    <!-- Hero Widget ******************* -->
    
      <Hero
        tagline=""
        actions={[
          {
            variant: 'primary',
            target: '_blank',
            text: 'Get templates',
            href: 'https://github.com/onwidget/astrowind',
            icon: 'tabler:download',
          },
          { text: 'Learn more', href: '#features' },
        ]}
      >
        <Fragment slot="title">
          Портфолио <br/><span class="text-accent dark:text-white highlight">«Собаки Павловой»</span> 
        </Fragment>
    
        <Fragment slot="subtitle">
            Подробные описания проектов, демонстрация итогов и промежуточных результатов, цены и отзывы клиентов. Читайте, пожалуйста ↓↓↓   
        </Fragment>
    
      </Hero>
    <PortfolioCollection list={['yit', 'dipol','elma', 'avicenna', 'm-line', 'onkor']} />
  </section>
</Layout>
