---
import type { InferGetStaticPropsType, GetStaticPaths } from 'astro';


import Layout from '~/layouts/PageLayout.astro';
import Hund3 from '~/components/widgets/Hund3.astro';
import Bread from '~/components/widgets/Bread.astro';
import SinglePost from '~/components/research/SinglePost.astro';
import Features4 from '~/components/widgets/Features4.astro';
import Features5 from '~/components/widgets/Features5.astro';
import RelatedPages from '~/components/portfolio/RelatedPages.astro';
import Number from '~/components/portfolio/Number.astro';

const metadata = {
  title: 'Как проводят UX-исследования для разработки IT-продуктов • Собака Павлова',
  canonical: 'https://sobakapav.ru/ux-research',
  description: "Разбираем на 26 кейсах, как можно улучшить интерфейсы сложных систем, наблюдая и общаясь с людьми.", 
  robots: {
    index: true,
    follow: true,
  },
  openGraph: {
    site_name: 'Собака Павлова',
    images: [{
      url: '~/assets/images/ux-research.png',
      width: 1200,
      height: 630
    }],
    type: 'website',
  },
};

---

<Layout metadata={metadata}>
    
  <section class="py-0 mx-auto grow-0 shrink-0 single-post">
    <Bread title="UX-исследования" />
    <article>
    
      <Hund3
        classes={{
          main: 'pb-10 md:pb-10',
          subtitle: 'mb-0',
        }}
      >
        <Fragment slot="title">
          Как проводят UX-исследования для разработки IT-продуктов
        </Fragment>
    
        <Fragment slot="subtitle">
          Разбираем на 26 кейсах, как можно улучшить интерфейсы сложных систем, наблюдая и общаясь с людьми.
        </Fragment>
      </Hund3>
  
      <div class="flex flex-col md:flex-row md:flex-wrap justify-between max-w-7xl mx-auto md:mx-auto px-6 pt-8 md:pt-12 sm:px-6 mb-6">

        <div class="flex flex-col lg:flex-row flex-wrap w-full gap-16" >
          <div class="basis-0 grow-[2] w-full">
            <div class="flex flex-col sm:flex-row justify-between gap-6">
              <div class="basis-0 grow">
                <h3 class="mb-2 text-xl">Изучаем опыт</h3>
                <Number 
                  number="15 UX-компаний" 
                  classes="mb-1.5 font-heading" 
                  textClasses="text-xl sm:text-4xl" 
                  numberClasses="text-xl sm:text-4xl text-[--aw-color-hund]" 
                />
                <p class="mb-1 text-xl">в области UX-исследований</p>
              </div>
              <div class="basis-0 grow">
                <h3 class="mb-2 text-xl">Анализируем</h3>
                <Number 
                  number="26 примеров" 
                  classes="mb-1.5 font-heading" 
                  textClasses="text-xl sm:text-4xl" 
                  numberClasses="text-xl sm:text-4xl text-[--aw-color-hund]" 
                />
                <p class="mb-1 text-xl">исследований поведения пользователей</p>
              </div>
              <div class="basis-0 grow">
                <h3 class="mb-2 text-xl">Описываем</h3>
                <Number 
                  number="6 ситуаций" 
                  classes="mb-1.5 font-heading" 
                  textClasses="text-xl sm:text-4xl" 
                  numberClasses="text-xl sm:text-4xl text-[--aw-color-hund]" 
                />
                <p class="mb-1 text-xl">когда нужны UX-исследования</p>
              </div>
            </div>
            
            <div class="bg-[#E7EAEA] bg-bottom bg-right bg-no-repeat bg-contain p-8 rounded-lg flex flex-col gap-4 my-6">
              <h3 class="text-3xl group font-heading">Как мы изучали чужой опыт</h3>
                <ul>
                   <li>Собрали большой список IT-разработчиков. Основное требование — компания использует UX-исследования.</li>
                   <li>Оставили только самостоятельные компании. Исключили UX-отделы крупных компаний. У них другие задачи и другие бюджеты.</li>
                   <li>Выбрали компании с качественной методологией. Они используют интервью, наблюдения, этнографию.</li>
                </ul>          
            </div>
            
            <div>
              <a id="1"></a>
              <h2 class="text-5xl group font-heading mb-10">1. Продукт для незнакомой аудитории</h2>   
              <p>Большая часть IT-продуктов разрабатывается под потребности определенной группы людей. Разработка для «среднестатистического человека» — редкий случай. Успех продукта для конкретного пользователя зависит от того, насколько точно определены его потребности, ожидания и боль. И насколько правильно это знание используется при создании продукта.</p> 
                 
              <p>Основная трудность — признать, что вы не представляете своих пользователей. Стройте гипотезы, рисуйте красивые модели, но, пока вы не поговорите с пользователями или не понаблюдаете за ними, вы не знаете про них ничего.</p> 
               
              <p>В некоторых случаях такое признание проходит «безболезненно». Вот вам три иллюстративных кейса, где у проектных команд и заказчиков не возникло вопроса, быть или не быть исследованию.</p> 
               
              <p>Что роднит эти кейсы? Все они представляют собой достаточно редкие ситуации, когда проектная команда практически вынуждена проводить исследования. Дети — особая группа пользователей, о которых практически ничего неизвестно.</p> 
               
              <p>Проявив фантазию, мы можем вспомнить и другие группы такого рода: инвалиды, одинокие пожилые люди и т.д. Важно, что необходимость исследования не вызывает сомнений ни у заказчика, ни и у исполнителя. В других случаях признать свою неосведомленность значительно сложнее: уж очень сильна у разработчиков продукта вера в собственную тотальную экспертизу.</p> 
               
              <p>Если говорить о методологии UX-исследований, то эти три кейса показывают, что использование качественных методов (интервью, наблюдения, дневниковые исследования) дает ценную информацию, которая помогает разработать качественный IT-продукт даже для особой группы пользователей. Команда приобретает необходимое знание и перестает блуждать в темноте. Снижается риск получить плохой продукт.</p> 
               
              <p>Кроме того, кейсы показывают, что иногда команде приходится адаптировать методологию с учетом особенностей группы пользователей (например, дневники в кейсе Spotless), а ввиду сложности полевой работы квалификация исследователя должна быть очень высока. Если в представлениях о пользователе есть серьезные пробелы, не стоит пренебрегать совместными дизайнерскими сессиями (кейс Cooper).</p> 
               
              <p>Сомневающийся читатель возразит: да, есть группы пользователей, о которых мы мало знаем, и без исследования тут никак. Дети, кто вообще их понимает? Но ведь есть обычные люди, которые занимаются вещами, известными всем. Например, покупают автомобили. Если вам нужен сайт для продажи автомобилей, зачем проводить исследования? Сроки поджимают, бюджет ограничен. Не лучше ли сэкономить время и деньги?</p>             
            </div>
            <div class="bg-[#E7EAEA] bg-bottom bg-right bg-no-repeat bg-contain p-8 rounded-lg flex flex-col gap-4 my-6">
              <h3 class="text-3xl group font-heading">вывод</h3>
              <p>Качественная методология позволяет получить ценные данные о потребностях, привычках, страхах и проблемах пользователей. Это знание необходимо для разработки продукта, когда целевая аудитория хорошо известна. Это знание не менее важно, если нужно внести изменения в существующий продукт для улучшения пользовательского опыта.</p>
              
              <p>Порой проектная команда сталкивается с полным отсутствием знаний о пользователях и их поведении, необходимых для разработки IT-продукта. Это возможно при создании продукта для специфической группы пользователей. В таких условиях команда вынуждена проводить исследование. При этом нередко приходится адаптировать методологию для работы с неординарной группой пользователей, а требования к профессиональной подготовке исследователей особенно высоки. Полученные результаты могут оказать сильное влияние на дизайн IT-продукта.</p>
              
              <p>Другая, более распространенная ситуация, когда потребность в исследовании не очевидна. Причинами могут быть близость проектной команды к группе пользователей, обыденность их опыта или вера в собственную тотальную экспертизу. В этом случае необходимо провести исследование, чтобы подтвердить свою экспертную оценку или выявить неочевидные потребности пользователей. Качественное исследование поможет уберечь разработчиков от будущих проблем с готовым IT-продуктом.</p>          
            </div>
            
            
          </div>
          
          <div class="basis-0 grow w-full flex flex-col gap-10 order-last md:order-none">
            <div class="bg-[--aw-color-grey2] text-white dark:bg-[--aw-color-grey9] p-8 rounded-lg">
              <h2 class="text-3xl font-heading mb-10">Ситуации, когда применялись UX-исследования</h2>
              <ol>
                 <li><a href="#1">Продукт для незнакомой аудитории</a><p>5 кейсов</p></li>
                 <li><a href="#2">Один продукт для разных аудиторий</a><p>4 кейса</p></li>
                 <li><a href="#3">Переход на мобильную версию сайта</a><p>6 кейсов</p></li>
                 <li><a href="#4">Сервисы для сотрудников компании</a><p>4 кейса</p></li>
                 <li><a href="#5">Выход с продуктом на неизвестный рынок</a><p>2 кейса</p></li>
                 <li><a href="#6">Сервисы, которые должны приносить пользу</a><p>5 кейсов</p></li>
              </ol> 
            </div>
            
            <div class="bg-[#E7EAEA] bg-bottom bg-right bg-no-repeat bg-contain p-8 rounded-lg flex flex-col gap-4">
              <h3 class="text-3xl group font-heading">Зачем нужно UX-исследование?</h3>
              <ul>
                 <li>Чтобы узнать разные аудитории</li>
                 <li>Чтобы понять, чего хотят от вас люди</li>
                 <li>Чтобы суметь дать людям то, чего они хотят</li>
              </ul>
            </div> 
            
            <div class="flex flex-col gap-2 bg-[--aw-color-grey2] text-white dark:bg-[--aw-color-grey9] p-8 rounded-lg">
              <h3 class="text-3xl group font-heading">Вам нужно UX-исследование?</h3>
              Проведем для вас исследование пользователей
              <div class="bg-[#048e86] px-5 py-[10px] rounded">
                <a href="mailto:we@sobakapav.ru" >Заказать UX-исследование</a>
              </div>
              <a href="mailto:we@sobakapav.ru" class="underline underline-offset-2 hover:text-[--aw-color-accent]">we@sobakapav.ru</a>
              <p>+7 (495) 191-92-81</p>
              </div>
            </div>
          </div>
        </div>
        
      </div>     
    </article>
    
  </section>

</Layout>


