---
import type { InferGetStaticPropsType, GetStaticPaths } from 'astro';

import Layout from '~/layouts/PageLayout.astro';
import Hund3 from '~/components/widgets/Hund3.astro';
import Bread from '~/components/widgets/Bread.astro';
import SinglePost from '~/components/research/SinglePost.astro';
import Features4 from '~/components/widgets/Features4.astro';
import Features5 from '~/components/widgets/Features5.astro';
import RelatedPages from '~/components/portfolio/RelatedPages.astro';
import Number from '~/components/portfolio/Number.astro';

const metadata = {
  title: 'Качественные UX-исследования для разработки IT-продуктов • Собака Павлова',
  canonical: 'https://sobakapav.ru/ux-research',
  description: "Разбираем на 26 чужих и 16 наших кейсах, как можно улучшить интерфейсы сложных систем, наблюдая и общаясь с людьми.", 
  robots: {
    index: true,
    follow: true,
  },
  openGraph: {
    site_name: 'Собака Павлова',
    images: [{
      url: '~/assets/images/ux-research.png',
      width: 1200,
      height: 630
    }],
    type: 'website',
  },
};

---

<Layout metadata={metadata}>
    
  <section class="py-0 mx-auto grow-0 shrink-0 single-post">
    <Bread title="UX-исследования" />
    <article>
    
      <Hund3
        classes={{
          main: 'pb-10 md:pb-10',
          subtitle: 'mb-0',
        }}
      >
        <Fragment slot="title">
          Качественные UX-исследования для разработки IT-продуктов
        </Fragment>
    
        <Fragment slot="subtitle">
          Разбираем на 26 чужих и 16 наших кейсах, как можно улучшить интерфейсы сложных систем, наблюдая и общаясь с людьми.
        </Fragment>
      </Hund3>
  
      <div class="flex flex-col md:flex-row md:flex-wrap justify-between max-w-7xl mx-auto md:mx-auto px-6 pt-8 md:pt-12 sm:px-6 mb-6">

        <div class="flex flex-col lg:flex-row flex-wrap w-full gap-16" >
          <div class="basis-0 grow-[2] w-full">
            <div class="flex flex-col sm:flex-row justify-between gap-6">
              <div class="basis-0 grow">
                <h3 class="mb-2 text-xl">Изучаем опыт</h3>
                <Number 
                  number="15 UX-компаний" 
                  classes="mb-1.5 font-heading" 
                  textClasses="text-xl sm:text-4xl" 
                  numberClasses="text-xl sm:text-4xl text-[--aw-color-hund]" 
                />
                <p class="mb-1 text-xl">в области UX-исследований</p>
              </div>
              <div class="basis-0 grow">
                <h3 class="mb-2 text-xl">Анализируем</h3>
                <Number 
                  number="26 примеров" 
                  classes="mb-1.5 font-heading" 
                  textClasses="text-xl sm:text-4xl" 
                  numberClasses="text-xl sm:text-4xl text-[--aw-color-hund]" 
                />
                <p class="mb-1 text-xl">исследований поведения пользователей</p>
              </div>
              <div class="basis-0 grow">
                <h3 class="mb-2 text-xl">Описываем</h3>
                <Number 
                  number="6 ситуаций" 
                  classes="mb-1.5 font-heading" 
                  textClasses="text-xl sm:text-4xl" 
                  numberClasses="text-xl sm:text-4xl text-[--aw-color-hund]" 
                />
                <p class="mb-1 text-xl">когда нужны UX-исследования</p>
              </div>
            </div>
            
            <div class="format-markdown bg-[#E7EAEA] bg-bottom bg-right bg-no-repeat bg-contain p-8 rounded-lg flex flex-col gap-4 my-10">
              <h3 class="text-3xl group font-heading">Как мы изучали опыт UX-исследователей</h3>
                <ul class="list-disc mb-4 ml-8">
                   <li>Собрали большой список IT-разработчиков. Основное требование — компания использует UX-исследования.</li>
                   <li>Оставили только самостоятельные компании. Исключили UX-отделы крупных компаний. У них другие задачи и другие бюджеты.</li>
                   <li>Выбрали компании с <a href="/publications/qualitative-methods-in-ux-studies">качественной методологией</a>. Они используют интервью, наблюдения, этнографию.</li>
                </ul>          
            </div>
            
            <div class="format-markdown">
              <h2 class="text-5xl group font-heading mb-10">Качественные UX-исследования</h2>   
              <p>Под качественными UX-исследованиями мы подразумеваем в виду не отлично выполненное исследование пользователей (это само собой), а антоним количественным исследованиям. Не цифры считаем, а проводим интервью, включенное наблюдение, этнографические исследования.</p> 
                 
              <p>Вот несколько статей на тему качественных исследований, а мы перейдем к кейсам и рассмотрим ситуации, в которых необходимо исследование пользователей.</p> 
            </div>
            
            <div class="max-w-7xl mx-auto pt-8 md:pt-12 mb-6">
              <RelatedPages 
                pages={[{collection: 'post', page: 'qualitative-methods-in-ux-studies'}, {collection: 'post', page: 'interview-method-for-development'}]}
                hideFields={{ tags: true, year: true }}
                styles={{main: 'flex-col', container: 'flex flex-row flex-wrap gap-6'}}
              />
            </div>

            <div class="format-markdown">
              <a id="1"></a>
              <h2 class="text-5xl group font-heading mb-10">1. Продукт для незнакомой аудитории</h2>   
              <p>Большая часть IT-продуктов разрабатывается под потребности определенной группы людей. Разработка для «среднестатистического человека» — редкий случай. Успех продукта для конкретного пользователя зависит от того, насколько точно определены его потребности, ожидания и боль. И насколько правильно это знание используется при создании продукта.</p> 
                 
              <p>Основная трудность — признать, что вы не представляете своих пользователей. Стройте гипотезы, рисуйте красивые модели, но, пока вы не поговорите с пользователями или не понаблюдаете за ними, вы не знаете про них ничего.</p> 
               
              <p>В некоторых случаях такое признание проходит «безболезненно». Вот вам три иллюстративных кейса, где у проектных команд и заказчиков не возникло вопроса, быть или не быть исследованию.</p> 
            </div>
             
            <div class="max-w-7xl mx-auto pt-8 md:pt-12 mb-6">
              <RelatedPages 
                pages={[{collection: 'research', page: 'crimecase'}, {collection: 'research', page: 'disneycase'}, {collection: 'research', page: 'healthfoodcase'}]}
                hideFields={{ tags: true, year: true }}
                styles={{main: 'gap-6 flex-nowrap flex-row', container: 'flex flex-row flex-wrap justify-between gap-6', textBlock: ''}}
              />
            </div> 
                          
            <div class="format-markdown"> 
              <p>Что роднит эти кейсы? Все они представляют собой достаточно редкие ситуации, когда проектная команда практически вынуждена проводить исследования. Дети — особая группа пользователей, о которых практически ничего неизвестно.</p> 
               
              <p>Мы можем вспомнить и другие группы такого рода: инвалиды, одинокие пожилые люди и т.д. Необходимость исследования не вызывает сомнений ни у заказчика, ни и у исполнителя. В других случаях признать свою неосведомленность значительно сложнее: уж очень сильна у разработчиков продукта вера в собственную тотальную экспертизу.</p> 
               
              <p>Если говорить о методологии UX-исследований, то эти три кейса показывают, что использование качественных методов (интервью, наблюдения, дневниковые исследования) дает ценную информацию, которая помогает разработать хороший IT-продукт даже для особой группы пользователей. Команда приобретает необходимое знание и перестает блуждать в темноте.</p> 
            
              <p>Кроме того, кейсы показывают, что иногда команде приходится адаптировать методологию с учетом особенностей группы пользователей (например, дневники в кейсе <a href="/ux-research/disneycase">Spotless</a>), а ввиду сложности полевой работы квалификация исследователя должна быть очень высока. Если в представлениях о пользователе есть серьезные пробелы, не стоит пренебрегать совместными дизайнерскими сессиями (кейс <a href="/ux-research/healthfoodcase">Cooper</a>).</p>
              
              <p>Вот два примера исследования специфической группы пользователей из нашего опыта. В UX-исследовании для проекта «<a href="/portfolio/medmarket">МедМаркет</a>» мы изучали барьеры и драйверы формирования приверженности терапии у людей с сахарным диабетом первого и второго типа, а также в парах «ребенок с диабетом и его родитель». В исследовании для поисковикa <a href="/portfolio/tigitl">Tigitl</a> целовой аудиторией были любители классической музыки.</p>
            </div> 
            
            <div class="max-w-7xl mx-auto pt-8 md:pt-12 mb-6">
              <RelatedPages 
                pages={[{collection: 'portfolio', page: 'medmarket'}, {collection: 'portfolio', page: 'tigitl'}]} 
                hideFields={{ tags: true, year: true }}
                styles={{main: 'flex-col', container: 'flex flex-row flex-wrap gap-6'}}
              />
            </div>
                                   
            <div class="format-markdown"> 
               
              <p>Более распространенная ситуация — когда потребность в исследовании не очевидна из-за близости проектной команды к группе пользователей и обыденности их опыта. Обычные люди занимаются обычными вещами. Например, покупают автомобили. Если вам нужен сайт для продажи автомобилей, зачем проводить исследования? Сроки поджимают, бюджет ограничен. Не лучше ли сэкономить время и деньги?</p>             
            </div>

            <div class="max-w-7xl mx-auto pt-8 md:pt-12 mb-6">
              <RelatedPages 
                pages={[{collection: 'research', page: 'fordcase'}, {collection: 'research', page: 'surgerycase'}]} 
                hideFields={{ tags: true, year: true }}
                styles={{main: 'flex-col', container: 'flex flex-row flex-wrap gap-6'}}
              />
            </div>
            
            <div class="format-markdown">   
              <p>В этих случаях исследование необходимо, чтобы подтвердить экспертную оценку или выявить неочевидные потребности пользователей. Качественное исследование помогает уберечь разработчиков от будущих проблем с готовым IT-продуктом.</p>              
              <p>Добавим два случая из нашего опыта. В UX-исследованиях для платформы <a href="/portfolio/zapovednik">Заповедник</a> и портала <a href="/portfolio/littleone">LittleOne</a> мы изучали широкие и довольно близкие нам по опыту группы пользователей: владельцев домашних животных и петербургских родителей.</p>  
            </div>
            
            <div class="max-w-7xl mx-auto pt-8 md:pt-12 mb-6">
              <RelatedPages 
                pages={[{collection: 'portfolio', page: 'medmarket'}, {collection: 'portfolio', page: 'littleone'}]} 
                hideFields={{ tags: true, year: true }}
                styles={{main: 'flex-col', container: 'flex flex-row flex-wrap gap-6'}}
              />
            </div> 
  
            <div class="format-markdown bg-[#E7EAEA] bg-bottom bg-right bg-no-repeat bg-contain p-8 rounded-lg flex flex-col gap-4 my-10">
              <h3 class="text-3xl group font-heading">вывод</h3>
              <p>Качественная методология позволяет получить ценные данные о потребностях, привычках, страхах и проблемах пользователей. Это знание необходимо для разработки продукта, когда целевая аудитория хорошо известна. Это знание не менее важно, если нужно внести изменения в существующий продукт для улучшения пользовательского опыта.</p>      
            </div> 
            
            <div class="format-markdown">
              <a id="2"></a>
              <h2 class="text-5xl group font-heading mb-10">2. Один продукт для разных аудиторий</h2>   
              <p>Выше мы рассматривали ситуации, когда нужно сделать продукт для конкретной группы пользователей. Теперь усложним ситуацию, добавив еще одну или несколько групп пользователей.</p>
                 
              <p>Хорошо, когда вы четко представляете свою целевую аудиторию. Очень хорошо, если это действительно гомогенная группа и вы уверены в этом на сто процентов. А если вам нужно сделать продукт, которым будут пользоваться разные группы пользователей? И у каждой из них свои потребности, проблемы и ожидания от вашего продукта. Та неловкая ситуация, когда очень хочется создать, например, два разных сайта, а нельзя — либо средств недостаточно, либо структура одна (университет, компания). Вот и приходится проектной команде ломать голову, как сделать так, чтобы никто не ушел обиженным, а показатель отказов не зашкаливал.</p> 
             
              <p>Где и как здесь может помочь качественная методология? Предоставить команде пищу для размышлений — потребности, ожидания и проблемы каждой группы пользователей. Смотрим, как это получилось у коллег.</p> 
            </div>
             
            <div class="max-w-7xl mx-auto pt-8 md:pt-12 mb-6">
              <RelatedPages 
                pages={[{collection: 'research', page: 'buildingcase'}, {collection: 'research', page: 'univercase'}]}
                hideFields={{ tags: true, year: true }}
                styles={{main: 'flex-col', container: 'flex flex-row flex-wrap gap-6'}}
              />
            </div> 
                          
            <div class="format-markdown"> 
              <p>Без использования качественной методологии этого было бы не достичь. В обоих кейсах начало истории практически одинаковое: на сайте пытаются удовлетворить потребности нескольких групп пользователей, и это порождает массу проблем. Сайт становится громоздким и неудобным, и ни одна группа не может найти нужную информацию. И в первом, и во втором случае заказчики обращаются к сторонней организации, чтобы с ее помощью изменить структуру сайта.</p> 
                 
              <p>Что именно делали привлеченные специалисты? Просто переделывали структуру сайта с учетом реальных жизненных ситуаций пользователей и их потребностей. Эту информацию о пользователях собирали с помощью качественных методов. И это очень важный момент — эффективная структура сайта для нескольких групп пользователей может быть создана только на основании глубокого анализа их потребностей и жизненных ситуаций. Именно здесь пригодится качественная методология.</p> 
             
              <p>Практическое применение качественной методологии здесь почти не отличается от ситуаций, рассмотренных выше: исследователи так же используют интервью для изучения потребностей пользователей. Разница только в том, что у нас теперь несколько групп пользователей. На стадии разработки дизайна исследования необходимо учитывать все группы пользователей IT-продукта. В приведенных примерах сделать это было достаточно легко, но так бывает не всегда, и нужно быть к этому готовым. Рассмотрим еще два кейса.</p> 
            </div>

            <div class="max-w-7xl mx-auto pt-8 md:pt-12 mb-6">
              <RelatedPages 
                pages={[{collection: 'research', page: 'educationcase'}, {collection: 'research', page: 'securitycase'}]} 
                hideFields={{ tags: true, year: true }}
                styles={{main: 'flex-col', container: 'flex flex-row flex-wrap gap-6'}}
              />
            </div>
 
            <div class="format-markdown">
              <p>Эти два кейса отличаются от рассмотренных ранее прежде всего тем, что изначально исследователи не могли жестко определить все пользовательские группы — они обозначались «широкими мазками» (например, поставщики образовательных услуг, пользователи <a href="securitycase">сайта СНБ</a>). Более четкое представление о пользовательских группах формировалось уже на стадии анализа материала, собранного с помощью интервью.</p>
                 
              <p>Это важный момент, так как не всегда можно определить пользовательские группы на стадии разработки дизайна исследования, иногда выявить все категории пользователей удается лишь на более поздних этапах. Основанием для их выделения может быть общность задач, информационных потребностей, проблем. Качественные методы позволяют получить необходимую информацию для группировки пользователей, что необходимо для разработки качественной структуры сайта.</p>
             
              <p>В этом аспекте весьма любопытен кейс <a href="univercase">AFCE</a>, где пользователи оказались настолько разными, что оптимальным решением стала их фактически индивидуальная поддержка сайтом и командой веб-мастеров.</p> 
              
              <p>Покажем два кейса из нашего опыта. Это академические проекты, каждый из которых предназначен для двух групп пользователей с разными целями и задачами. Порталом <a href="/portfolio/pushkin-digital">Пушкин. Цифровой</a> пользуются пушкинисты и простые читатели, школьники, учителя и т.д., а платформа общественной архивистики «<a href="/portfolio/prozhito">Прожито</a>» объединяет историков и людей, которые оцифровывают свои семейные архивы.</p> 
            </div>
            
            <div class="max-w-7xl mx-auto pt-8 md:pt-12 mb-6">
              <RelatedPages 
                pages={[{collection: 'portfolio', page: 'pushkin-digital'}, {collection: 'portfolio', page: 'prozhito'}]} 
                hideFields={{ tags: true, year: true }}
                styles={{main: 'flex-col', container: 'flex flex-row flex-wrap gap-6'}}
              />
            </div>
 
            <div class="format-markdown bg-[#E7EAEA] bg-bottom bg-right bg-no-repeat bg-contain p-8 rounded-lg flex flex-col gap-4 my-10">
              <h3 class="text-3xl group font-heading">Вывод</h3>
              <p>Качественная методология помогает решить основные проблемы IT-продуктов (в данном случае сайтов), разрабатываемых для нескольких групп пользователей: слишком громоздкую структуру, избыток информации и сложную навигацию. Последовательный анализ потребностей, проблем и ожиданий каждой группы пользователей позволяет создать удобную структуру с учетом реальных жизненных ситуаций.</p>
                 
              <p>В некоторых случаях можно определить группы пользователей на стадии разработки дизайна исследования. Задача исследователей — последовательно изучить потребности и проблемы каждой группы пользователей.</p>
             
              <p>Существуют ситуации, когда четко определить пользовательские группы на стадии разработки дизайна исследования невозможно. В этом случае состав и характеристики групп уточняются уже на стадии обработки данных.</p>
                    
            </div> 
            
            <div class="format-markdown">
              <a id="3"></a>
              <h2 class="text-5xl group font-heading mb-10">3. Переход на мобильную версию сайта</h2>   
              <p>Поговорим о ситуациях, когда значимо не количество групп пользователей, а то, что все они используют мобильные устройства. Тема актуальная, но в нашу выборку попало только два кейса (плюс два наших). Постараемся выжать из них максимум информации о специфике применения качественных методов для решения UX-задач в этих условиях.</p> 
            </div>
             
            <div class="max-w-7xl mx-auto pt-8 md:pt-12 mb-6">
              <RelatedPages 
                pages={[{collection: 'research', page: 'drivercase'}, {collection: 'research', page: 'wikicase'}]}
                hideFields={{ tags: true, year: true }}
                styles={{main: 'flex-col', container: 'flex flex-row flex-wrap gap-6'}}
              />
            </div> 
                          
            <div class="format-markdown"> 
              <p>Социальные исследователи разрабатывали качественную методологию в числе прочего, чтобы собирать подробные данные о том, как устроена повседневная жизнь людей. Эта информация непременно учитывает контекст: мы видим не только что человек делает, но и где, и как он это делает. Если перевести это на язык UX-исследований, это значит, что мы получаем детальное описание жизненных ситуаций и среды использования продукта. Эта информация необходима для того, чтобы разрабатывать хорошие мобильные версии.</p>
              
              <p>Кейсы, рассмотренные нами, показывают, что качественные данные легко трансформируются в практические рекомендации по разработке мобильных версий. Такие IT-продукты максимально приближены к повседневной жизни пользователей — с их помощью они решают свои реальные проблемы (жизненные ситуации) с максимальным комфортом (среда использования).</p>  
              
              <p>Покажем два примера из нашего портфолио. В первом случае мы разрабатывали интерфейс мобильной версии веб-приложения <a href="/portfolio/easydocs">Easydocs</a>. Во втором UX-исследование помогло заказчику <<a href="/portfolio/bercut">>вовремя отказаться</a> от неудачной идеи мобильного приложения.</p>
            </div>

            <div class="max-w-7xl mx-auto pt-8 md:pt-12 mb-6">
              <RelatedPages 
                pages={[{collection: 'portfolio', page: 'easydocs'}, {collection: 'portfolio', page: 'bercut'}]} 
                hideFields={{ tags: true, year: true }}
                styles={{main: 'flex-col', container: 'flex flex-row flex-wrap gap-6'}}
              />
            </div>
 
            <div class="format-markdown bg-[#E7EAEA] bg-bottom bg-right bg-no-repeat bg-contain p-8 rounded-lg flex flex-col gap-4 my-10">
              <h3 class="text-3xl group font-heading">Вывод</h3>
              <p>Резюмируя сказанное: использование качественной методологии при переходе на мобильные устройства позволяет получить ценную информацию о жизненных ситуациях и среде использования. Эти данные становятся основной для практических рекомендаций по разработке или улучшению мобильных версий.</p>
                    
            </div>
            <div class="format-markdown">
              <a id="4"></a>
              <h2 class="text-5xl group font-heading mb-10">4. Сервисы для сотрудников компании</h2>   
              <p>Рассмотрим ситуацию, когда команде необходимо разработать профессиональный интерфейс.</p> 
                 
             <p> Почему мы вынесли разработку профессиональных интерфейсов в отдельную категорию? Формально это частный случай создания IT-продуктов для конкретной группы пользователей. Но фокус нашего исследования — практический опыт использования качественных методов в различных ситуациях разработки. В этой ситуации работа с качественными методами, а точнее — цель их использования и выбор методологии, имеет свою специфику. Для того чтобы увидеть это на реальном примере, рассмотрим сначала не совсем типичный для нашей выборки кейс.</p> 
            </div>
             
            <div class="max-w-7xl mx-auto pt-8 md:pt-12 mb-6">
              <RelatedPages 
                pages={[{collection: 'research', page: 'staffcase'}]}
                hideFields={{ tags: true, year: true }}
                styles={{main: 'gap-6 flex-nowrap flex-row', container: 'flex flex-row flex-wrap justify-between gap-6', textBlock: ''}}
              />
            </div> 
                          
            <div class="format-markdown"> 
              <p>Стоп. А где тут разработка IT-продукта? Да, действительно, в данном кейсе она отсутствует, хотя осмысление рабочего опыта сотрудника включало и анализ рутинных задач, для которых он использует различное профессиональное и «офисное» программное обеспечение. Этот кейс демонстрирует возможности качественных данных при разработке профессиональных интерфейсов — глубокое и подробное изучение опыта, получаемого на рабочем месте. Любая разработка хорошего профессионального IT-продукта начинается со сбора информации о том, как организован рабочий день пользователя. И здесь уместно вспомнить все то, что мы уже узнали о возможностях качественных методов, — и про изучение различных групп пользователей, и про жизненные ситуации и среду использования. Все это нужно, когда качественные методы используются для разработки профессиональных интерфейсов. 
               </p>
               
              <p>Несколько статей на эту тему:</p>
            </div>

            <div class="max-w-7xl mx-auto pt-8 md:pt-12 mb-6">
              <RelatedPages 
                pages={[{collection: 'post', page: 'professional-testing'}, {collection: 'post', page: 'before-interface-testing'}]}
                hideFields={{ tags: true, year: true }}
                styles={{main: 'flex-col', container: 'flex flex-row flex-wrap gap-6'}}
              />
            </div>
            
            <div class="format-markdown"> 
              <p>Давайте посмотрим на кейсы наших коллег.</p>
            </div>
            
            <div class="max-w-7xl mx-auto pt-8 md:pt-12 mb-6">
              <RelatedPages 
                pages={[{collection: 'research', page: 'morriscase'}, {collection: 'research', page: 'shootingcase'}, {collection: 'research', page: 'weathercase'}]} 
                hideFields={{ tags: true, year: true }}
                styles={{main: 'gap-6 flex-nowrap flex-row', container: 'flex flex-row flex-wrap justify-between gap-6', textBlock: ''}}
              />
            </div>
            
            <div class="format-markdown"> 
                <p>Основные методы здесь — интервью и наблюдение. В ситуации разработки профессиональных интерфейсов проектные команды практически всегда обращаются к наблюдению. Особенно к одной его вариации — методу «тени». Это объясняется тем, что возможности получения данных с помощью интервью ограничены. Исследователям важно максимально подробно описать, с чем и как взаимодействует пользователь, какая обстановка вокруг, как она влияет на его поведение, какие возникают проблемы и как они решаются. Одними интервью здесь не обойтись: респондент попросту не может дать всю необходимую информацию. Причина в том, что большинство действий на работе — рутинные, а следовательно, их тяжело отрефлексировать и рассказать обо всем в интервью. Наблюдение здесь — не роскошь, а необходимость.</p> 
  
              </div>
  
              <div class="max-w-7xl mx-auto pt-8 md:pt-12 mb-6">
                <RelatedPages 
                  pages={[{collection: 'research', page: 'medicinecase'}, {collection: 'research', page: 'doctorappcase'}]} 
                  hideFields={{ tags: true, year: true }}
                  styles={{main: 'flex-col', container: 'flex flex-row flex-wrap gap-6'}}
                />
              </div>
 
            <div class="format-markdown"> 
                <p>В нашу выборку попало довольно много кейсов, где проектные команды обращались к качественным методам при работе над профессиональными IT-продуктами. Отчасти дело в том, что — как и при разработке продуктов для детей — исследователи вынуждены проводить исследования. Попробуйте разработать «с ходу» IT-продукт для врачей или диспетчеров. Конечно, попытаться можно, но риски произвести некачественный продукт очень высоки. А о рисках использования такого продукта в дальнейшем мы не будем и говорить. Вывод один: без исследования к разработке профессиональных продуктов лучше не подходить.</p> 
                
                <p>Интерфейсы профессиональных систем — наша специализация, и UX-исследований пользователей-профессионалов мы провели немало. Ограничимся четырьмя примерами.</p> 
  
              </div>
  
              <div class="max-w-7xl mx-auto pt-8 md:pt-12 mb-6">
                <RelatedPages 
                  pages={[{collection: 'portfolio', page: 'gazprom-neft'}, {collection: 'portfolio', page: 'avito'}, {collection: 'portfolio', page: 'tis'}, {collection: 'portfolio', page: 'raisa'}]} 
                  hideFields={{ tags: true, year: true }}
                  styles={{main: 'flex-col', container: 'flex flex-row flex-wrap gap-6'}}
                />
              </div>
            
            <div class="format-markdown bg-[#E7EAEA] bg-bottom bg-right bg-no-repeat bg-contain p-8 rounded-lg flex flex-col gap-4 my-10">
              <h3 class="text-3xl group font-heading">вывод</h3>
              <p>Во всех рассмотренных кейсах проектные команды проводили очень основательную исследовательскую работу, которая требовала больших усилий по сбору данных и серьезных финансовых вложений со стороны клиента. Однако отказаться от исследования было невозможно, и причина проста — слишком высока цена ошибки.</p> 
                 
               <p>Резюмируя сказанное: при разработке профессиональных интерфейсов проектные команды обращаются к качественной методологии, чтобы понять, как организован рабочий день сотрудника:</p> 
                 
               <ul class="list-disc mb-4 ml-8">
                 <li>с кем и чем взаимодействует;</li>
                 <li>где происходит это взаимодействие;</li>
                 <li>каковы рутинные операции;</li>
                 <li>какие есть проблемы и трудности.</li>
               </ul>
               
               <p>Для получения детальной информации используют комбинацию качественных методов: интервью и наблюдения. Если ограничиться только интервью, не удастся собрать исчерпывающие данные из-за специфики рутинных операций на рабочем месте. Получаемая информация позволяет разрабатывать полезные и удобные профессиональные IT-продукты, которые органично вписываются в повседневную деятельность пользователей.</p>
                    
            </div>
            
            <div class="format-markdown">
              <a id="5"></a>
              <h2 class="text-5xl group font-heading mb-10">5. Выход с продуктом на неизвестный рынок</h2>   
              <p>Предпоследняя ситуация применения качественных методов немного экзотична — выход на новый, незнакомый локальный рынок. Да, с этим сталкиваются немногие компании, но такая ситуация помогает лучше понять возможности качественных методов. Для быстрого погружения в тему начнем сразу с кейса, который не относится к разработке IT-продуктов, но наглядно показывает возможности качественных методов.</p> 
            </div>
             
            <div class="max-w-7xl mx-auto pt-8 md:pt-12 mb-6">
              <RelatedPages 
                pages={[{collection: 'research', page: 'samsungcase'}]}
                hideFields={{ tags: true, year: true }}
                styles={{main: 'gap-6 flex-nowrap flex-row', container: 'flex flex-row flex-wrap justify-between gap-6', textBlock: ''}}
              />
            </div> 
                          
            <div class="format-markdown"> 
              <p>Почему проектная команда обратилась к качественным методам? Вопрос в данном случае риторический. Скандинавский стиль — это культурная особенность Северной Европы. Есть ли что-то более подходящее для изучения подобного феномена, чем методология, которая уже несколько десятилетий используется антропологами и этнографами для изучения культурных особенностей различных сообществ? Интервью и наблюдение были основными методами социальных исследователей, стремящихся понять другую культуру.</p>
                 
              <p>Разработка IT-продукта для незнакомого локального рынка всегда связана с риском: то, что работает в одной стране, может с треском провалиться в другой. Причина тому — культурные различия, которые не были учтены при разработке продукта. Именно поэтому компании, которые планируют выход на новые рынки, готовы вкладываться в дорогостоящие проекты. Провал готового продукта обойдется намного дороже. Рассмотрим еще несколько кейсов, которые описывают работу команд в этой ситуации.</p> 

            </div>

            <div class="max-w-7xl mx-auto pt-8 md:pt-12 mb-6">
              <RelatedPages 
                pages={[{collection: 'research', page: 'mobilecase'}, {collection: 'research', page: 'messengercase'}, {collection: 'research', page: 'brazilcase'}]} 
                hideFields={{ tags: true, year: true }}
                styles={{main: 'gap-6 flex-nowrap flex-row', container: 'flex flex-row flex-wrap justify-between gap-6', textBlock: ''}}
              />
            </div>
            
            <div class="format-markdown"> 
              <p>У нас нет кейсов из этой категории, зато есть хорошая статья на тему.</p>
            </div>
            
            <div class="max-w-7xl mx-auto pt-8 md:pt-12 mb-6">
              <RelatedPages 
                pages={[{collection: 'post', page: 'design-and-culture'}]}
                hideFields={{ tags: true, year: true }}
                styles={{main: 'gap-6 flex-nowrap flex-row', container: 'flex flex-row flex-wrap justify-between gap-6', textBlock: ''}}
              />
            </div>
 
            <div class="format-markdown bg-[#E7EAEA] bg-bottom bg-right bg-no-repeat bg-contain p-8 rounded-lg flex flex-col gap-4 my-10">
              <h3 class="text-3xl group font-heading">вывод</h3>
              <p>Основными методами в этой ситуации становятся интервью и наблюдение. Причина в том, что культурные особенности достаточно трудно идентифицировать: здесь необходимо и слушать, и наблюдать. К профессионализму исследователей предъявляются повышенные требования. Это очень сложные проекты — команда должна увидеть и понять культурные особенности, зафиксировать их и донести до разработчиков, которым нужно учитывать соответствующие факторы при создании продуктов.</p>
                 
               <p>Интересный пример качественного исследования в этой ситуации дает кейс компании Head: проектная команда провела достаточно сложное исследование в предельно сжатые сроки. Хотя метод «исследовательской студии» требует очень напряженной работы от команды, а его эффективность зависит от квалификации исследователей: понять даже малую часть чужой культуры — очень трудная задача.</p>
                 
               <p>Резюмируя сказанное: в ситуации разработки IT-продукта для нового, незнакомого локального рынка проектные команды применяют качественную методологию для выявления культурных особенностей, которые могут повлиять на практику использования продукта. Такие проекты очень трудны в реализации: организация исследования требует значительных финансовых вложений, а к профессиональным компетенциям команды предъявляются повышенные требования. Основными исследовательскими методами здесь являются интервью и наблюдение, традиционно используемые социальными исследователями для понимания другой культуры.</p>
                    
            </div>
            
            <div class="format-markdown">
              <a id="6"></a>
              <h2 class="text-5xl group font-heading mb-10">6. Сервисы, которые должны приносить пользу</h2>   
              <p>Мы подошли к последней жизненной ситуации — разработке нового сервиса. Использование качественной методологии для разработки нового сервиса затрагивает все вопросы, которые мы рассмотрели ранее:</p>
               
               <ul class="list-disc mb-4 ml-8">  
                 <li>изучение потребностей, поведения, страхов и проблем одной или нескольких групп пользователей;</li>
                 <li>анализ жизненных ситуаций и среды использования;</li>
                 <li>изучение повседневности пользователей и рутинных действий;</li>
                 <li>выявление культурных особенностей, которые могут повлиять на использование IT-продукта.</li>
               </ul> 
               
            </div>
             
            <div class="max-w-7xl mx-auto pt-8 md:pt-12 mb-6">
              <RelatedPages 
                pages={[{collection: 'research', page: 'paypalcase'}, {collection: 'research', page: 'bristolcase'}]}
                hideFields={{ tags: true, year: true }}
                styles={{main: 'gap-6 flex-nowrap flex-row', container: 'flex flex-row flex-wrap justify-between gap-6', textBlock: ''}}
              />
            </div> 
                          
            <div class="format-markdown"> 
              <p>Разработка нового сервиса или полный редизайн существующего — это одна из самых сложных задач риск ошибиться здесь очень велик. Исследование, проведенное с помощью качественных методов на стадии разработки продукта, снижает эти риски, но не исключает полностью. Требования к квалификации исследователей в проектной команде здесь чрезвычайно высоки. Собранные данные очень сильно влияют на результат.</p>
            </div> 
            
            <div class="max-w-7xl mx-auto pt-8 md:pt-12 mb-6">
              <RelatedPages 
                pages={[{collection: 'portfolio', page: 'elma-bot'}, {collection: 'portfolio', page: 'seatmap'}]}
                hideFields={{ tags: true, year: true }}
                styles={{main: 'flex-col', container: 'flex flex-row flex-wrap gap-6'}}
              />
            </div>
                                      
            <div class="format-markdown">       
               <p>Впрочем, в некоторых ситуациях, связанных с разработкой новых сервисов, задача, которая стоит перед проектной командой, не столь сложна: требуется меньший объем информации о пользователях, поэтому процесс исследования упрощается. Как правило, это ситуации, когда похожий онлайн- или офлайн-сервис уже существует. Рассмотрим несколько таких кейсов.</p> 

            </div>

            <div class="max-w-7xl mx-auto pt-8 md:pt-12 mb-6">
              <RelatedPages 
                pages={[{collection: 'research', page: 'insurancecase'}, {collection: 'research', page: 'atmcase'},{collection: 'research', page: 'donatecase'}]}
                hideFields={{ tags: true, year: true }}
                styles={{main: 'gap-6 flex-nowrap flex-row', container: 'flex flex-row flex-wrap justify-between gap-6', textBlock: ''}}
              />
            </div> 
            
            <div class="format-markdown"> 
              <p>Добавим еще несколько наших кейсов и статью.</p>
            </div>
            
            <div class="max-w-7xl mx-auto pt-8 md:pt-12 mb-6">
              <RelatedPages 
                pages={[{collection: 'portfolio', page: 'qiwi'}, {collection: 'portfolio', page: 'kapital'}, {collection: 'portfolio', page: 'sportmaster'},  {collection: 'post', page: 'choosing-bank'}]}
                hideFields={{ tags: true, year: true }}
                styles={{main: 'flex-col', container: 'flex flex-row flex-wrap gap-6'}}
              />
            </div>
 
            <div class="format-markdown bg-[#E7EAEA] bg-bottom bg-right bg-no-repeat bg-contain p-8 rounded-lg flex flex-col gap-4 my-10">
              <h3 class="text-3xl group font-heading">вывод</h3>
              <p>При разработке нового сервиса проектные команды сталкиваются с проблемой отсутствия знаний о пользователях и их повседневной жизни. Если похожий сервис уже существует, для сбора подробной информации о пользователях и их проблемах с действующим сервисом можно ограничиться проведением интервью. Если предстоит разработать сервис, который не имеет аналогов, необходимо дополнительно использовать наблюдение.</p>
                 
              <p>Интервью и наблюдения позволяют получить информацию о потребностях, поведении, страхах и проблемах пользователей, их жизненных ситуациях, среде использования продукта, повседневности и культурных особенностях. Эти данные помогают разработать нужный и удобный сервис, который органично впишется в повседневную жизнь людей и будет решать реальные задачи.</p>       
            </div>
            
            <div class="format-markdown">
              <a id="7"></a>
              <h2 class="text-5xl group font-heading mb-10">Заключение: качественные методы и разработка IT-продуктов в России</h2>   
              <p>Мы проанализировали опыт зарубежных компаний по использованию качественных методов для решения UX-задач. Анализ кейсов показал, что существует шесть жизненных ситуаций, когда применяется качественная методология.
                 
              <ol class="list-decimal mb-4 ml-8">
                 <li><a href="#1">Продукт для незнакомой аудитории</a></li>
                 <li><a href="#2">Один продукт для разных аудиторий</a></li>
                 <li><a href="#3">Переход на мобильную версию сайта</a></li>
                 <li><a href="#4">Сервисы для сотрудников компании</a></li>
                 <li><a href="#5">Выход с продуктом на неизвестный рынок</a></li>
                 <li><a href="#6">Сервисы, которые должны приносить пользу</a></li>
              </ol> 
              
              <p>Применение качественных методов в каждой ситуации имеет свою специфику: разные комбинации методов, различная сложность организации исследования, разные цели и результаты. Основная причина использования качественных методов проектными командами — это их потенциал в получении данных о: потребностях, поведении, страхах и проблемах одной или нескольких групп пользователей;жизненных ситуациях и среде использования;повседневности и рутинных действиях;культурных особенностях.</p> 
                 
              <p>Качественная методология получила широкое распространение за рубежом. В России ситуация несколько иная: ни заказчики, ни проектные команды не представляют возможностей качественных методов. Эту ситуацию может изменить изучение опыта использования качественных методов для решения продуктовых задач. Осветить такой опыт мы попытались в этой статье.</p>
                 
              <p>Алексей Зиновьев, UX-аналитик</p> 
            </div>
          </div>

          <div class="basis-0 grow w-full flex flex-col gap-10 order-last md:order-none">
            <div class="bg-[--aw-color-grey2] text-white dark:bg-[--aw-color-grey9] p-8 rounded-lg">
              <h2 class="text-3xl font-heading mb-10">Ситуации, когда применялись UX-исследования</h2>
              <ol class="list-decimal mb-4 ml-4">
                 <li><a href="#1">Продукт для незнакомой аудитории</a><p>5 кейсов</p></li>
                 <li><a href="#2">Один продукт для разных аудиторий</a><p>4 кейса</p></li>
                 <li><a href="#3">Переход на мобильную версию сайта</a><p>6 кейсов</p></li>
                 <li><a href="#4">Сервисы для сотрудников компании</a><p>4 кейса</p></li>
                 <li><a href="#5">Выход с продуктом на неизвестный рынок</a><p>2 кейса</p></li>
                 <li><a href="#6">Сервисы, которые должны приносить пользу</a><p>5 кейсов</p></li>
              </ol> 
            </div>
            
            <div class="bg-[#E7EAEA] bg-bottom bg-right bg-no-repeat bg-contain p-8 rounded-lg flex flex-col gap-4">
              <h3 class="text-3xl group font-heading">Зачем нужно UX-исследование?</h3>
              <ul class="list-disc mb-4 ml-8">
                 <li>Чтобы узнать разные аудитории</li>
                 <li>Чтобы понять, чего хотят от вас люди</li>
                 <li>Чтобы суметь дать людям то, чего они хотят</li>
              </ul>
            </div> 
            
            <div class="flex flex-col gap-2 bg-[--aw-color-grey2] text-white dark:bg-[--aw-color-grey9] p-8 rounded-lg">
              <h3 class="text-3xl group font-heading">Вам нужно UX-исследование?</h3>
              Проведем для вас исследование пользователей
              <div class="bg-[#048e86] px-5 py-[10px] rounded">
                <a href="mailto:we@sobakapav.ru" >Заказать UX-исследование</a>
              </div>
              <a href="mailto:we@sobakapav.ru" class="underline underline-offset-2 hover:text-[--aw-color-accent]">we@sobakapav.ru</a>
              <p>+7 (495) 191-92-81</p>
              </div>
            </div>
          </div>
        </div>
        
      </div>     
    </article>
    
  </section>

</Layout>


