---
const { collapseSlogan = false } = Astro.props;
---

<div class="flex flex-col items-center lg:flex-row lg:gap-4">
  <span
    class="flex items-center gap-2 logo self-center rtl:ml-0 rtl:mr-2 text-gray-900 whitespace-nowrap dark:text-white"
  >
    <div class="h-10 text-white dark:text-gray-200">
      <svg width="40" height="40" viewBox="0 0 67 67" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0_2359_13510)">
          <rect width="67" height="67" rx="14" fill="currentColor"></rect>
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M67 0H0V45.8224C5.25534 43.8755 10.3584 41.9747 10.3584 41.9747L26.5933 50.4658C26.5933 50.4658 21.466 60.1333 17.8224 67H67V0ZM21.4393 31.6824H44.632C45.0522 31.6824 45.387 31.8081 45.4051 32.4543C45.4424 34.6993 45.2071 41.5213 41.2819 44.2904C36.7414 47.1815 29.5591 47.1403 28.3971 47.1208C28.3536 47.1177 28.3143 47.114 28.2774 47.1106C28.1415 47.098 28.0385 47.0885 27.8817 47.1208C27.0828 46.5825 12.42 39.4016 12.42 39.4016C12.42 39.4016 16.3986 31.0718 18.347 27.0509C18.5635 26.4023 19.1459 26.4023 19.3778 27.0509C19.8365 28.0179 21.4393 31.6824 21.4393 31.6824ZM25.0471 39.4016C23.7652 39.4016 22.7278 38.3604 22.7278 37.0858C22.7278 35.8058 23.7652 34.7701 25.0471 34.7701C26.3258 34.7701 27.3663 35.8058 27.3663 37.0858C27.3663 38.3604 26.3258 39.4016 25.0471 39.4016Z"
            fill="#95001B"></path>
        </g>
        <defs>
          <clipPath id="clip0_2359_13510">
            <rect width="67" height="67" rx="13.4" fill="currentColor"></rect>
          </clipPath>
        </defs>
      </svg>
    </div>

    <div class="h-[28px] text-[#101010] dark:text-gray-200">
      <svg width="182" height="28" viewBox="0 0 182 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M177.469 0.268155L181.2 23.7318H177.502L176.869 19.4749H172.372L171.739 23.7318H168.374L172.105 0.268155H177.469ZM174.604 4.42458L172.838 16.2905H176.37L174.604 4.42458Z"
          fill="currentColor"></path>
        <path
          d="M161.337 0.268155C165.135 0.268155 166.767 2.04469 166.767 5.6648V6.50279C166.767 8.9162 166.034 10.4581 164.402 11.229C166.367 12 167.133 13.7765 167.133 16.257V18.1676C167.133 21.7877 165.234 23.7318 161.57 23.7318H155.807V0.268155H161.337ZM161.104 13.1732H159.471V20.3799H161.57C162.803 20.3799 163.469 19.8101 163.469 18.067V16.0223C163.469 13.8436 162.769 13.1732 161.104 13.1732ZM161.237 3.62011H159.471V9.82123H160.904C162.27 9.82123 163.102 9.21788 163.102 7.34078V6.03352C163.102 4.35754 162.536 3.62011 161.237 3.62011Z"
          fill="currentColor"></path>
        <path
          d="M145.963 5.6648V18.3352C145.963 20.0112 146.696 20.648 147.862 20.648C149.028 20.648 149.761 20.0112 149.761 18.3352V5.6648C149.761 3.98883 149.028 3.35195 147.862 3.35195C146.696 3.35195 145.963 3.98883 145.963 5.6648ZM142.299 18.1006V5.89944C142.299 2.14525 144.264 0 147.862 0C151.46 0 153.425 2.14525 153.425 5.89944V18.1006C153.425 21.8547 151.46 24 147.862 24C144.264 24 142.299 21.8547 142.299 18.1006Z"
          fill="currentColor"></path>
        <path
          d="M126.568 23.7654V20.4134C128.234 20.4134 128.767 20.1788 128.833 18L129.433 0.268155H139.794V23.7318H136.062V3.62011H132.864L132.465 17.7989C132.331 22.0894 130.799 23.7654 127.134 23.7654H126.568Z"
          fill="currentColor"></path>
        <path
          d="M119.597 0.268155C123.395 0.268155 125.027 2.04469 125.027 5.6648V6.50279C125.027 8.9162 124.294 10.4581 122.662 11.229C124.627 12 125.394 13.7765 125.394 16.257V18.1676C125.394 21.7877 123.495 23.7318 119.83 23.7318H114.067V0.268155H119.597ZM119.364 13.1732H117.732V20.3799H119.83C121.063 20.3799 121.729 19.8101 121.729 18.067V16.0223C121.729 13.8436 121.03 13.1732 119.364 13.1732ZM119.497 3.62011H117.732V9.82123H119.164C120.53 9.82123 121.363 9.21788 121.363 7.34078V6.03352C121.363 4.35754 120.796 3.62011 119.497 3.62011Z"
          fill="currentColor"></path>
        <path
          d="M108.629 0.268155L112.361 23.7318H108.663L108.03 19.4749H103.532L102.899 23.7318H99.5348L103.266 0.268155H108.629ZM105.764 4.42458L103.999 16.2905H107.53L105.764 4.42458Z"
          fill="currentColor"></path>
        <path d="M89.9485 3.62011V23.7318H86.2841V0.268155H97.8439V23.7318H94.1128V3.62011H89.9485Z" fill="currentColor"
        ></path>
        <path
          d="M75.6737 0.268155L79.4048 23.7318H75.707L75.074 19.4749H70.5767L69.9437 23.7318H66.5791L70.3102 0.268155H75.6737ZM72.8087 4.42458L71.0431 16.2905H74.5743L72.8087 4.42458Z"
          fill="currentColor"></path>
        <path
          d="M62.113 23.7318L58.5484 14.3799L57.4157 16.5251V23.7318H53.7512V0.268155H57.4157V10.4916L62.2129 0.268155H65.8774L60.7804 10.7263L65.8774 23.7318H62.113Z"
          fill="currentColor"></path>
        <path
          d="M48.3136 0.268155L52.0447 23.7318H48.3469L47.7139 19.4749H43.2166L42.5836 23.7318H39.219L42.9501 0.268155H48.3136ZM45.4486 4.42458L43.683 16.2905H47.2142L45.4486 4.42458Z"
          fill="currentColor"></path>
        <path
          d="M32.1885 23.7318H26.3919V0.268155H36.6525V3.62011H30.0564V9.62011H32.1885C35.853 9.62011 37.7185 11.6648 37.7185 15.419V17.933C37.7185 21.6872 35.853 23.7318 32.1885 23.7318ZM30.0564 20.3799H32.1885C33.3545 20.3799 34.0541 19.8436 34.0541 18.1676V15.1844C34.0541 13.5084 33.3545 12.9721 32.1885 12.9721H30.0564V20.3799Z"
          fill="currentColor"></path>
        <path
          d="M16.515 5.6648V18.3352C16.515 20.0112 17.2479 20.648 18.4138 20.648C19.5798 20.648 20.3127 20.0112 20.3127 18.3352V5.6648C20.3127 3.98883 19.5798 3.35195 18.4138 3.35195C17.2479 3.35195 16.515 3.98883 16.515 5.6648ZM12.8505 18.1006V5.89944C12.8505 2.14525 14.816 0 18.4138 0C22.0117 0 23.9772 2.14525 23.9772 5.89944V18.1006C23.9772 21.8547 22.0117 24 18.4138 24C14.816 24 12.8505 21.8547 12.8505 18.1006Z"
          fill="currentColor"></path>
        <path
          d="M7.46225 14.9832H10.9269V18.1006C10.9269 21.8547 9.0613 24 5.46343 24C1.86556 24 0 21.8547 0 18.1006V5.89944C0 2.14525 1.86556 0 5.46343 0C9.0613 0 10.9269 2.14525 10.9269 5.89944V8.17877H7.46225V5.6648C7.46225 3.98883 6.72935 3.35195 5.56337 3.35195C4.3974 3.35195 3.6645 3.98883 3.6645 5.6648V18.3352C3.6645 20.0112 4.3974 20.6145 5.56337 20.6145C6.72935 20.6145 7.46225 20.0112 7.46225 18.3352V14.9832Z"
          fill="currentColor"></path>
      </svg>
    </div>
  </span>
  {
    !collapseSlogan && (
      <span class="text-[13px] lg:text-[13px] lg:leading-4 lg:mt-[-3px] ml-[48px] max-w-[224px] lg:ml-0 lg:max-w-[124px]">
        Дизайн сложных интерфейсов
      </span>
    )
  }
</div>
