---
import { SITE } from 'astrowind:config';
---

<span class="flex gap-2 logo self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white font-heading">
  <img class="w-6" src="/images/logos/logo-red.svg"> 
  {'Собака Павлова'}
</span>
