---

---

<Fragment>
  <div id="cookiePopup" class="fixed bottom-0 left-0 right-0  p-8 bg-[--aw-color-grey9] hidden z-[100]">
    <div>
      Файлы cookies помогают нам улучшать пользовательский опыт на сайте. Продолжая использовать сайт, вы даете согласие на  
      <a class="text-[--aw-color-accent] underline underline-offset-2" href="https://drive.google.com/file/d/1guj6HM-FkQahSoMmNr8VYUNAcXxBY2dK/view?usp=sharing">использование cookies и обработку своих данных</a>. Вы можете изменить настройки cookies в своем браузере. 
    </div>
    <div class="mt-4">
      <button id="agreeToCookie" class="border-2 border-black p-1 cursor-pointer">Хорошо</button>
    </div>
  </div>

  <script>
    window.addEventListener("load", (event) => {
      const hasCookie = !! document.cookie?.split('; ').find(x => x.startsWith('sobAgreeCookies'));
      if (!hasCookie) {
        document.getElementById('agreeToCookie').addEventListener('click', (event) => {
          document.cookie = 'sobAgreeCookies=true';
          document.getElementById('cookiePopup').style.display = 'none';
        });
        document.getElementById('cookiePopup').style.display = 'block';
      }
    });
    
  </script>
</Fragment>
