---

const {
  id,
  className = ""
} = Astro.props;

const aClassName = className + ' hidden';

---

<astro-red-checkbox>
  <label
    class="flex flex-row items-center text-[--aw-color-hund] leading-none h-14 text-xl sm:text-[52px] font-heading"
  >
    <slot />
  </label>
</astro-checkbox>
