/* Colors & other variables*/
body {
  --dark-1: #03262A;
  --dark-2: #0A3A3E;
  --dark-3: #114E52;
  --dark-4: #19676C;
  --dark-5: #3E8287;
  --neutral-1: #B5BFBF;
  --neutral-2: #D0D5D5;
  --neutral-3: #DBDFDF;
  --neutral-4: #E7EAEA;
  --neutral-5: #E7EAEA;
  --grey-1: #1D2121;
  --grey-2: #2B3030;
  --grey-3: #393F3F;
  --grey-4: #474D4D
  --grey-5: #555B5B;
  --grey-6: #636A6A;
  --grey-7: #717979;
  --grey-8: #7E8686;
  --grey-9: #8C9595;
  --grey-10: #99A2A2;
  --grey-11: #A7B0B0;
  --grey-12: #B5BFBF;
  --grey-13: #C3CBCB;
  --grey-14: #D0D5D5;
  --grey-15: #DBDFDF;
  --grey-16: #E7EAEA;
  --grey-17: #F4F6F6;
  --grey-18: #FAFBFB;
  --primary: #B62100;
  --primary-h: #8A1801;
  --primary-d: #F38A75;
  --primary-a: #A51E03;
  --secondary: #048E86;
  --secondary-h: #006D67;
  --secondary-d: #8CD1C9;
  --secondary-a: #047973;
  --trietary: #D19A46;
  --trietary-h: #BE8328;
  --trietary-d: #F5CD8F;
  --trietary-a: #C28A33;
  --quaternary: #E36246;
  --quaternary-h: #BE4328;
  --quaternary-d: #FAB5A6;
  --quaternary-a: #CD543A;
  --pink-1: #F38A75;
  --pink-2: #FFA896;
  --pink-3: #FFC4B8;
  --pink-4: #FFE2DC;
  --pink-5: #FFF2F0;
  --light-blue-1: #8CD1C9;
  --light-blue-2: #B5E5DF;
  --light-blue-3: #D4EFEC;
  --light-blue-4: #E8F8F6;
  --light-blue-5: #F6FDFC;
  --light-sand-1: #F5CD8F;
  --light-sand-2: #FDDFB0;
  --light-sand-3: #FFEED2;
  --light-sand-4: #FFF5E5;
  --light-sand-5: #FFFAF2;
}

body.dark {
  --dark-1: #021F23;
  --dark-2: #03262A;
  --dark-3: #0A3A3E;
  --dark-4: #114E52;
  --dark-5: #19676C;
  --neutral-1: #9EAAAA;
  --neutral-2: #B5BFBF;
  --neutral-3: #D0D5D5;
  --neutral-4: #DBDFDF;
  --neutral-5: #E7EAEA;
  --grey-1: #FAFBFB;
  --grey-2: #F4F6F6;
  --grey-3: #E7EAEA;
  --grey-4: #DBDFDF;
  --grey-5: #D0D5D5;
  --grey-6: #C3CBCB;
  --grey-7: #B5BFBF;
  --grey-8: #A4AEAE;
  --grey-9: #97A1A1;
  --grey-10: #8A9494;
  --grey-11: #7D8787;
  --grey-12: #707A7A;
  --grey-13: #636E6E;
  --grey-14: #566161;
  --grey-15: #4A5454;
  --grey-16: #3F4A4A;
  --grey-17: #2E3939;
  --grey-18: #1C2727;
  --primary: #C53010;
  --primary-h: #EB4926;
  --primary-d: #7E1E09;
  --primary-a: #DA3815;
  --secondary: #1CAAA1;
  --secondary-h: #61CEC7;
  --secondary-d: #0D524E;
  --secondary-a: #2CC0B7;
  --trietary: #E1B763;
  --trietary-h: #FFD686;
  --trietary-d: #806633;
  --trietary-a: #EFC574;
  --quaternary: #F97D62;
  --quaternary-h: #FFBB9E;
  --quaternary-d: #8C4434;
  --quaternary-a: #FF967F;
  --pink-1: #DA6851;
  --pink-2: #F38A75;
  --pink-3: #FFA896;
  --pink-4: #FFC4B8;
  --pink-5: #FFE2DC;
  --light-blue-1: #6BBFB5;
  --light-blue-2: #8CD1C9;
  --light-blue-3: #B5E5DF;
  --light-blue-4: #D4EFEC;
  --light-blue-5: #E8F8F6;
  --light-sand-1: #E2B674;
  --light-sand-2: #F5CD8F;
  --light-sand-3: #FDDFB0;
  --light-sand-4: #FFEED2;
  --light-sand-5: #FFF5E5;
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    --dark-1: #021F23;
      --dark-2: #03262A;
      --dark-3: #0A3A3E;
      --dark-4: #114E52;
      --dark-5: #19676C;
      --neutral-1: #9EAAAA;
      --neutral-2: #B5BFBF;
      --neutral-3: #D0D5D5;
      --neutral-4: #DBDFDF;
      --neutral-5: #E7EAEA;
      --grey-1: #FAFBFB;
      --grey-2: #F4F6F6;
      --grey-3: #E7EAEA;
      --grey-4: #DBDFDF;
      --grey-5: #D0D5D5;
      --grey-6: #C3CBCB;
      --grey-7: #B5BFBF;
      --grey-8: #A4AEAE;
      --grey-9: #97A1A1;
      --grey-10: #8A9494;
      --grey-11: #7D8787;
      --grey-12: #707A7A;
      --grey-13: #636E6E;
      --grey-14: #566161;
      --grey-15: #4A5454;
      --grey-16: #3F4A4A;
      --grey-17: #2E3939;
      --grey-18: #1C2727;
      --primary: #C53010;
      --primary-h: #EB4926;
      --primary-d: #7E1E09;
      --primary-a: #DA3815;
      --secondary: #1CAAA1;
      --secondary-h: #61CEC7;
      --secondary-d: #0D524E;
      --secondary-a: #2CC0B7;
      --trietary: #E1B763;
      --trietary-h: #FFD686;
      --trietary-d: #806633;
      --trietary-a: #EFC574;
      --quaternary: #F97D62;
      --quaternary-h: #FFBB9E;
      --quaternary-d: #8C4434;
      --quaternary-a: #FF967F;
      --pink-1: #DA6851;
      --pink-2: #F38A75;
      --pink-3: #FFA896;
      --pink-4: #FFC4B8;
      --pink-5: #FFE2DC;
      --light-blue-1: #6BBFB5;
      --light-blue-2: #8CD1C9;
      --light-blue-3: #B5E5DF;
      --light-blue-4: #D4EFEC;
      --light-blue-5: #E8F8F6;
      --light-sand-1: #E2B674;
      --light-sand-2: #F5CD8F;
      --light-sand-3: #FDDFB0;
      --light-sand-4: #FFEED2;
      --light-sand-5: #FFF5E5;
    
  }
}
