---
import Layout from '~/layouts/Layout.astro';
import Header from '~/components/widgets/Header.astro';
import Footer from '~/components/widgets/Footer.astro';
import Announcement from '~/components/widgets/Announcement.astro';
import Hat from '~/components/widgets/Hat.astro';
import CookieWarning from '~/components/common/CookieWarning.astro';

import { headerData, footerData } from '~/navigation';

import type { MetaData } from '~/types';

export interface Props {
  metadata?: MetaData;
}

const { metadata, hasSlider, darkTheme = false, collapseSlogan = false} = Astro.props;
---

<Layout metadata={metadata} hasSlider={hasSlider}>
  
  <slot name="header">
    <Header {...headerData} isSticky showToggleTheme isDark={darkTheme} collapseSlogan={collapseSlogan} />
  </slot>
  <main>
    <slot />
  </main>
  <slot name="footer">
    <CookieWarning />
    <Footer {...footerData} />
  </slot>
</Layout>
