---
import type { HTMLTag } from 'astro/types';
import type { Widget } from '~/types';
import { twMerge } from 'tailwind-merge';
import Background from './Background.astro';

export interface Props extends Widget {
  containerClass?: string;
  ['as']?: HTMLTag;
}

const { id, isDark = false, containerClass = '', bg, as = 'section' } = Astro.props;

const WrapperTag = as;
---

<WrapperTag class="not-prose scroll-mt-[72px]" {...id ? { id } : {}}>
  <div
    class:list={[
      twMerge('mx-auto md:mx-0 lg:mx-auto max-w-7xl pb-8 md:pb-8 lg:pb-12 text-default', containerClass),
      { dark: isDark },
    ]}
  >
    <slot />
  </div>
</WrapperTag>
